<section class="books" id="invoiceContainer">
    <h3>Mis datos de facturación</h3>
    <div class="invoices">
        <a href="/users/add-new-invoice" >
            <div class="invoiceBox addInvoice">
                <i class="fas fa-plus"></i>
                <h4>Agregar dirección</h4>
            </div>
        </a>
    </div>
</section>