    <!--Categorias principales-->
    <section class="important-buttons">
        <div class="identifier" class="class1">
            <a href="#recomendados"><i class="fas fa-book-reader"></i></a>
            <p>Recomendados</p>
        </div>
        <div class="identifier2">
            <a href="#important-buttons-pc"><i class="fas fa-book"></i></a>
            <p>Categorías</p>
        </div>
        <div class="identifier3">
            <a href="#nuevos"><i class="fas fa-bell"></i></a>
            <p>Nuevos</p>
        </div>
        <div class="identifier4">
            <a href="#ebooks"><i class="fas fa-tablet-alt"></i></a>
            <p>Ebooks</p>
        </div>
    </section>