<div class="logoTerminos">
    <div class="logo shine-me">
        <div class="bloqueAzul "></div>
        <div class="bloqueVerde"></div>
        <div class="bloqueRojo"></div>
        <div class="bloqueNaranja"></div>
    </div>
    <p class="logoText"><span class="rojo">IN</span><span class="azul">SIDE</span><br><span
            class="verde">BOOKS</span>
    </p>
</div>