<h3 id="title-subcategory"><%=categoria%></h3>
<ul class="subcategory-books">
    <% subcategorias.forEach(subcategoria => { %>
        <li><a href="">"<%=subcategoria%>"</a></li>
    <% }) %>  
</ul>
<% subcategorias.n = 'False' %>
<%- include('mainSubcategoryAside',subcategorias)%>


    
