<section class="searchBar-mobile">
    <form  action="/products/search" method="get" class="sbMobile">
        <input type="text" id="search" name="search" placeholder=" Buscar por autor, título, categoría...">
        <button type="submit"><i><i class="fas fa-search"></i></i></button>
    </form>
</section>
