<nav>
    <a href="/">
      <div class="logoNavBar">
        <div class="logoContainer">
          <div class="bloqueAzul"></div>
          <div class="bloqueVerde"></div>
          <div class="bloqueRojo"></div>
          <div class="bloqueNaranja"></div>
        </div>
        <p class="logoText"><span class="rojo">IN</span><span class="azul">SIDE</span><span class="verde">BOOKS</span>
        </p>

      </div>
    </a>

    <form class="searchBar" action="/searchBook">
      <input class="btn" type="text" placeholder=" Buscar.." name="search">
      <button class="btn red" type="submit"><i class="flaticon-magnifying-glass-1"></i></button>
    </form>

    <div class="menuButton">
      <a href="<%= locals.userLogged ? '/users/': '/users/login' %>"><i class="flaticon-profile-user"></i> &nbsp <span class="menu-label"><%= locals.userLogged && locals.userLogged.firstName ? locals.userLogged.firstName: 'Mi cuenta' %> </span> </a>
      <a href="/carrito"><i class="flaticon-shopping-cart"></i> &nbsp <span class="menu-label"> Mi
          Carrito</span></a>

      <a href="#" onclick="openNav()"><i class="flaticon-list"></i> &nbsp <span class="menu-label">
          Menú</span> </a>
      <div class="mySidenav" id="sideNav">
        <div class="mySidenavlinks">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          
          <div>
            <input style="display: none;" type="checkbox" id="darkMode">
            <label for="darkMode" class="sideBarOption" >
              <span id="textoModoClaro" ><i class="far fa-moon"></i>&nbsp Modo Oscuro</span> 
              <span id="textoModoOscuro"> <i class="fas fa-sun"></i> &nbsp Modo Claro</span>
            </label>
          </div>
         
          <a href="/users/" class="sideBarOption"><i class="far fa-user-circle"></i> &nbsp Mi cuenta</a>
          <a href="/products/create" class="sideBarOption"><i class="far fa-plus-square"></i>  &nbsp Agregar libro</a>
          <a href="/products/" class="sideBarOption"><i class="far fa-bookmark"></i>  &nbsp Todos los libros</a>
          <% if(locals.userLogged){%> 
          <a href="/users/logout" class="sideBarOption"><i class="fas fa-sign-out-alt"></i>&nbsp Cerrar sesión</a>
          <% }  %> 
        </div>
      </div>

    </div>
  </nav>