<div class="index">
    <h3><%=titulo%></h3>
    <ul class="priceBooks">
        <% subcategorias.forEach(subcategoria => { %>
            <li><a href=""><%=subcategoria%></a></li>
        <% }) %>
    </ul>
</div>