<section class="books" id='<%=idSection%>'>
    <h3><%= titulo %></h3>
    <div class="products">
        <% articulos.forEach((articulo,n) => { %>
            <% if(!articulo.nuevo){ %>
                <% articulo.n = n %>
                <%- include('articles', articulo) %>
            <% } else {%>
                <% articulo.n = n %>
                <%- include('articles', articulo) %>
            <% }%>
        <% }) %>
    </div>
</section>