<section class="slider" id="startBanner">
    <img src="./images/bannerDescuentos.jpg" alt="promotions" class="sliderContent">
    <img src="./images/bannerTodo.jpg" alt="promotions" class="sliderContent">
    <img src="./images/bannerSeparador.jpg" alt="promotions" class="sliderContent">
    <img src="./images/bannerDescuentos.jpg" alt="promotions" class="sliderContent">
    <img src="./images/bannerDescuentos.jpg" alt="promotions" class="sliderContent">
</section>