<% let data ={css:["css/carrito.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Mi Carrito"}%>

<%- include('./partials/head', data)%>

<body>

    <%- include('./partials/navBar') %>

    <main>
        <h2 class="carritoTitle"><i class="fas fa-shopping-cart"></i>&nbsp Mi Carrito</h2>
        <section>
            <% articulos.forEach(libro => { %> 
                <%- include('./partials/articuloCarrito', libro) %> 
            <% })%>       
        </section>

        <article class="totalAPagar carArticle">
            <p>Total:</p>
            <p >$ <span id="precioFinal">592.25</span></p>
        </article>

        <script src="./js/carrito.js">       
        </script>

        <div class="promociones">
            <p> <strong>Envío gratis</strong> a toda la <strong>República Mexicana</strong> en compras mayores a
                <span class="rojo">$299</span> o en productos
                elegibles de nuestro catálogo
            </p>

            <p style="margin-bottom: 0;">Realiza tu pedido y recíbelo en <span class="rojo">23 horas</span> u
                obtén instantáneamente la versión digital de
                nuestros libros </p>

            <ul>
                <li><a href=""> <i class="fas fa-map-marker-alt"></i> <span> &nbsp Configurar Dirección de
                            Envío</span></a></li>
                <li><a href=""><i class="fas fa-info-circle"></i> <span>&nbsp Más Información sobre precios y tiempos de
                            entrega de Inside Books en la República Mexicana.</span></a></li>
            </ul>
        </div>



        <div class="botones">
            <button class='btn red agregarAlCarrito'>Proceder al pago</button>
            <button class='btn Azul comprarAhora' onclick="location.href='/home';">Seguir comprando</button>
        </div>
    </main>

    <img src="./images/bannerDescuentos.jpg" alt="Banner de descuentos" width="100%">

<%- include('./partials/footer') %>
</body>

</html>
