<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
<link rel="manifest" href="./images/favicon/site.webmanifest">
<link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Russo+One&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="css/flaticon/flaticon.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="./css/TerminosyCondiciones.css">
    <script defer src="./js/darkModeScript.js"></script>
    <title>Términos y Condiciones de InsideBooks</title>
</head>

<body>
    <nav>
        <a href="/">
          <div class="logoNavBar">
            <div class="logoContainer">
              <div class="bloqueAzul"></div>
              <div class="bloqueVerde"></div>
              <div class="bloqueRojo"></div>
              <div class="bloqueNaranja"></div>
            </div>
            <p class="logoText"><span class="rojo">IN</span><span class="azul">SIDE</span><span class="verde">BOOKS</span>
            </p>
    
          </div>
        </a>
    
        <form class="searchBar" action="./searchBook">
          <input class="btn" type="text" placeholder=" Buscar.." name="search">
          <button class="btn red" type="submit"><i class="flaticon-magnifying-glass-1"></i></button>
        </form>
    
        <div class="menuButton">
          <a href="/login"><i class="flaticon-profile-user"></i> &nbsp <span class="menu-label"> Mi Cuenta</span> </a>
          <a href="/carrito"><i class="flaticon-shopping-cart"></i> &nbsp <span class="menu-label"> Mi
              Carrito</span></a>
    
          <a href="#" onclick="openNav()"><i class="flaticon-list"></i> &nbsp <span class="menu-label">
              Menú</span> </a>
          <div class="mySidenav" id="sideNav">
            <div class="mySidenavlinks">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              
              <div>
                <input style="display: none;" type="checkbox" id="darkMode">
                <label for="darkMode">
                  <span id="textoModoClaro"><i class="far fa-moon"></i>&nbsp Modo Oscuro</span> 
                  <span id="textoModoOscuro"> <i class="fas fa-sun"></i> &nbsp Modo Claro</span>
                </label>
              </div>
             
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
              <script>
                function openNav() {
                  document.getElementById("sideNav").style.width = "250px";
                }
    
                function closeNav() {
                  document.getElementById("sideNav").style.width = "0";
                }
              </script>
            </div>
          </div>
    
        </div>
      </nav>
      <section class="searchBar-mobile">
        <form action="./searchBook" class="sbMobile">
            <input type="text" id="search" name="search" placeholder=" Buscar por autor, título, categoría...">
            <button type="submit"><i><i class="fas fa-search"></i></i></button>
        </form>
        </section>
<img src="/img/separador.jpg" alt="Separador decorativo" width="100%">
    <main>
      
        <%- include('./partials/logoTerminos') %>
        <%- include(documento) %>

    </main>
    
<img src="./images/separador.jpg" alt="Separador decorativo" width="100%">
    
<footer>
    <section>
        <h4>Enlaces de Interés</h4>
        <ul>
            <li><a href="">Mi cuenta</a></li>
            <li><a href="">Mis Pedidos</a></li>
        </ul>

        <ul>
            <li><a href="">Mi Lista de Deseos</a></li>
            <li><a href="">Artículos Vistos</a></li>
        </ul>
    </section>

    <section>
        <h4>Ayuda y Soporte</h4>
        <ul>
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Formas de Pago</a></li>
            <li><a href="">Nuestro Boletín</a></li>
        </ul>

        <ul>
            <li><a href="/TerminosyCondiciones">Términos y Condiciones </a></li>
            <li><a href="/PoliticaDePrivacidad">Política de Privacidad</a></li>
            <li><a href="">Acerca de Nosotros</a></li>
        </ul>
    </section>

    <section>
        <h4>Contacto</h4>
        <ul class="contactList">
            <li><a href='mailto:contact@insidebooks.com?subject="Hi There!"'><i class="flaticon-email" ></i> &nbsp contact@insidebooks.com</a></li>
            <li><a href="tel:+521234567890">  <i class="flaticon-telephone-handle-silhouette"></i>&nbsp&nbsp +53 123 456 7890</li></a>
        </ul>
    </section>

    <section class="socialMedia">
        <h4>Redes Sociales</h4>
        <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="flaticon-facebook"></i> &nbsp Facebook</a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i>&nbsp Instagram</a></li>
        </ul>

        <ul>
            <li><a href="https://twitter.com/" target="_blank"><i class="flaticon-twitter"></i>&nbsp Twitter</a></li>
            <li><a href="https://web.telegram.org" target="_blank"><i class="flaticon-telegram"></i>&nbsp Telegram</a></li>
        </ul>
    </section>

    <div class="logoFooter">
        <div class="logoContainer">
            <div class="bloqueAzul"></div>
            <div class="bloqueVerde"></div>
            <div class="bloqueRojo"></div>
            <div class="bloqueNaranja"></div>
        </div>
        <p class="logoTextFooter"><span class="rojo">IN</span><span class="azul">SIDE</span><span
                class="verde">BOOKS</span>
        </p>
    </div>
</footer>
</body>

</html>
