<% let data ={css:["css/error404.css", "css/style.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Error 404"}%>

<%- include('./partials/head', data)%>

<body>
    <%- include('./partials/navBar') %>
    <%- include('./partials/navBarMobile') %>

    <div class="main-container">
        <section class="loginBannerContainer">
            <div class="content-left shine-me">
                <div class="logo shine-me">
                    <div class="bloqueAzul "></div>
                    <div class="bloqueVerde"></div>
                    <div class="bloqueRojo"></div>
                    <div class="bloqueNaranja"></div>
                </div>
                <p class="logoText"><span class="rojo">ER</span><span class="azul">ROR</span> <span
                        class="verde">404</span>
                </p>
                <div class="prompt">
                    <h1>P치gina no encontrada</h1>
                    <h3>El recurso solicitado no est치 est치 disponible en el servidor. Compruebe que la direcci칩n de acceso se correcta.</a></h3>
                </div>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
    </div>
</body>
</html>
