.addressContainer{
    padding-bottom: 30px;
    font-family:'Roboto';
   
}

.addressContainer h3{
   max-width: 1000px;
   margin: 20px auto;
}

.addresses{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 320px)) ;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
   

}

.addresses a{
    text-decoration: none;
}

.addressBox{
    min-height: 266px;
    border: 1px solid rgb(187, 185, 185);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    
}

.addAddress{
    border: 3px dashed rgb(187, 185, 185);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addAddress i{
    font-size: 45px;
    padding-bottom: 15px;
    color: rgb(187, 185, 185);
}

.addAddress h4{
    font-size: 24px;
    color: rgb(65, 64, 64);
}

.addressBox .addressContent p{
    font-size: 14px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.addressButtons{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--fontColors);
}

.addressContent{
    padding-top: 20px;
}

.addressButtons a{
    text-decoration: none;
    padding: 0 5px;
    color: #5a5cd6;
}

.defaultAdress{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid rgb(187, 185, 185);
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--fontColors);
    font-size: 12px;
    display: flex;
    align-items: center;

}

.defaultAdress img{
    width: 100px;
    margin-top: -5px;
}

.addressButtons a:hover{
    text-decoration:underline;
    color: #EA4533;

}

@media (min-width: 1060px) {
    .addresses{
        justify-content:flex-start;
    }
}