@import "./bootstrap.min.css";
@import "./fonts.css";
@import "./logoStyle.css";
@import "./navBar.css";
@import "./navBarMobile.css";
@import "./footer.css";
@import "./category-buttons.css";


:root{
  --focusColor : #6969fc;
  --errorColor: #cc0033;
  --inputColor: rgb(75, 72, 72);

  --navBarHeight: 50px;
    --marginBottom:10px;
    --borderRadius:5px;
  
    --backgroundColor: #e2e1e0;
    --backgroundSections:white;
  
    --fontColors:#2e2e2e;
    --navBarBackground:rgb(255, 255, 255);
  
    /* Buttons */
    --buttonHeight:35px;
    --buttonBorderRadio: 2px;
    --buttonFontColor:#ecf0f1;
    --buttonColor:#EA4533;

  
     /* List */
    --fontListColor:#56575e;;
    --fontIndexTitleColor: #56575e;
  
    /* Price */
    --priceColor:#EA4533;
  
    /* Margin Between Containers */
    --separation:5px;
  
    --footerBackground: #2d2f8e;
    --footerFontColor: #eaebf1;
}

body {
    font-family: "Roboto", sans-serif;
    color:var(--fontColors);
    background-color: var(--sectionBackground);
    text-align: left;
}

input, select{
  background: var(--backgroundSections) !important;
  color: var(--fontColors) !important;
}

label{
  font-weight: 400;
}

.btn.red {
  background-color: var(--buttonColor);
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

.agregar, .borrar{
  height: 40px;
  width: 80%;
  font-size: 18px;
  max-width: 600px;
  color: white;
}

.agregar{
  background-color: #2D2F8E;
  transition-duration: 0.5s;

}

.agregar:hover{
background-color: #1a1b57;
}

.botones{
  padding-bottom: 30px;
  padding-top: 20px
}

h1{
  font-weight: 400;
  margin-left: 10px;
}


footer{
  text-align: center;
}

a:hover{
  text-decoration: none;
}

.botones{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.botones button{
  min-width: 250px;
  margin-bottom: 10px;
}

.portadaPreview{
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --navBarHeight: 50px;
    --navBarBackground:rgb(41, 41, 41);
    --searchBarColor: rgb(59, 57, 57);
    --fontColors:#eaebf1;
    --sectionBackground: #121212;
    --backgroundColor: #121212;
    --backgroundSections:#222222;

    --whiteButtonsFontColor: #eaebf1;
    --whiteButtonsBackground:rgb(59, 57, 57);
    --footerBackground: rgb(41, 41, 41);
  } 
}

@media (min-width:600px) {
  h1{
    margin-top: 70px;

  }
}





