@import "./fonts.css";
@import "./logoStyle.css";
@import "./navBar.css";
@import "./navBarMobile.css";
@import "./footer.css";
@import "./category-buttons.css";

:root{
  --focusColor : #6969fc;
  --errorColor: #cc0033;
  --inputColor: rgb(75, 72, 72);

  --navBarHeight: 50px;
    --marginBottom:10px;
    --borderRadius:5px;
  
    --backgroundColor: #e2e1e0;
    --backgroundSections:white;
  
    --fontColors:#2e2e2e;
    --navBarBackground:rgb(255, 255, 255);
  
    /* Buttons */
    --buttonHeight:35px;
    --buttonBorderRadio: 2px;
    --buttonFontColor:#ecf0f1;
    --buttonColor:#EA4533;

  
     /* List */
    --fontListColor:#56575e;;
    --fontIndexTitleColor: #56575e;
  
    /* Price */
    --priceColor:#EA4533;
  
    /* Margin Between Containers */
    --separation:5px;
  
    --footerBackground: #2d2f8e;
    --footerFontColor: #eaebf1;
}

body {
    font-family: "Roboto", sans-serif;
    color:var(--fontColors);
    background-color: var(--sectionBackground);
}

form.addBooks{
  text-align: center;
}

form.addBooks h2{
  text-align: left;
}

.pageTitle{
  text-align: center;
  margin-top: 70px;
}


#portadaImg{
  height: 280px;
  width: 230px;
  background-color: gray;
  margin: auto;
  display: block;
  margin-bottom: 5px;
}

/* Formato de los Inputs */
.container {
  display: inline-block;
  margin: 10px 0;
  width: 90vw;
    
}

.select{
  position: relative;
  width: 150px;
  margin: auto;
  padding-left: 25px;
  
}


.container .inputContainer{
  position: relative; 
  display: flex; 
  justify-content: center;
}

.inputContainer label, .select label{
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--backgroundSections);
  color: var(--fontColors);
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: .1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}
.inputContainer input{
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--inputColor);
  border-radius: 5px;  
  padding: 1rem 0.7rem;
  color: var(--fontColors);
  width:fit-content;
  height: 10px;
  transition: all 0.25s ease-in-out;
  width: 100%;
  background-color: var(--backgroundSections);
}

.inputContainer input:focus, select:focus{
  border-color: var(--focusColor);
  box-shadow: 0 0 5px var(--focusColor);
  border: 1px solid var(--focusColor);  
}

.inputContainer input:focus + label, select:focus + label{
  color: var(--focusColor);
  top: 0;
  transform: translateY(-60%) scale(.9);
}

.inputContainer input:not(:placeholder-shown) + label,select:not(:placeholder-shown) + label{
  top: 0;
  transform: translateY(-60%) scale(.9);
}

.container .numberContainer{ 
display: inline-block;
  width: 150px;

}



/* SELECT STYLES */
select{
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--inputColor);
  border-radius: 5px;  
  padding: 0.5rem 0.7rem;
  width: 150px;
  height: 50px;
  background-color: white;
  color: var(--inputColor);
  background-color: var(--backgroundSections);
  color: var(--fontColors)
}

select option{
  background-color: var(--backgroundSections);
  color: var(--fontColors)
}

.container .select .select-label{
  margin-left: 35px;
}

/* ERRORES */
.inputContainer .error-message {
  display: none;
}

.error label{
  background-color:#fce4e4;
  color: var(--errorColor);
}

.error-message {
  color: var(--errorColor);
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
} 

.error label {
  color: var(--errorColor);
}

.error input[type=text], .error input[type=number] {
  background-color: #fce4e4;
  border: 1px solid var(--errorColor);
  outline: none;
}

.error .error-message {
  display: inline-block;
}

.error input:focus, .error select:focus{
  border-color: var(--errorColor); 
  background-color: white; 
} 

.error input:focus + label, .error select:focus + label{
  color: var(--errorColor);
  background-color: white;
  top: 0;
  transform: translateY(-50%) scale(.9);
}



/* FILE UPLOAD */
.uploadFile{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.uploadFile label{
  margin: 0;
  margin-left: 10px;
}

form.addBooks .uploadFile{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.uploadFile input{
  display: none;
}

.uploadFile input + label.btn{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: border-box;
  max-width: 80%;
  font-size: 1rem;
  width: 200px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: #f1e5e6;
  background-color: #e74c3c;
  border-radius: 5px;  
  margin-left: 0;
}

.btn {
  font-weight: bold;
  display: block;
  margin: 10px auto;
  padding: 0; 
  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: var(--fontColorButtons);
  transition: background-color .3s;
  cursor: pointer;
  max-width: 400px;
}

.btn.red {
  background-color: var(--buttonColor);
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

.agregar, .borrar{
  height: 40px;
  width: 80%;
  font-size: 18px;
  max-width: 600px;
  color: white;
}

.agregar{
  background-color: #2D2F8E;
  transition-duration: 0.5s;

}

.agregar:hover{
background-color: #1a1b57;
}

.botones{
  padding-bottom: 30px;
  padding-top: 20px
}

@media (prefers-color-scheme: dark) {
  :root {
    --navBarHeight: 50px;
    --navBarBackground:rgb(41, 41, 41);
    --searchBarColor: rgb(59, 57, 57);
    --fontColors:#eaebf1;
    --sectionBackground: #121212;
    --backgroundColor: #121212;
    --backgroundSections:#222222;

    --whiteButtonsFontColor: #eaebf1;
    --whiteButtonsBackground:rgb(59, 57, 57);
    --footerBackground: rgb(41, 41, 41);
  } 
}



@media (min-width: 481px) {
 form.addBooks{
    display: grid;
    grid-template-columns: 50% 50%;
  }
 .container{
    width: 95%;
    margin: 10px auto;
  }

  .tituloInput,.autorInput,.materiaInput,.editorialInput,.isnbInput,.autorDetails,.librosDetails{
    grid-column: 1/3;
  }

  .yearInput{
    grid-column: 1/3;
  }

  .botones{
    grid-column: 1/3;
  }
  
}

@media (min-width: 768px) {
  form.addBooks{
    display: grid;
    grid-template-columns: 30% 35% 35%;
  }

  #portadaImg{
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .uploadFile{
    grid-column: 1/2
  }

  .tituloInput{
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .autorInput{
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .materiaInput{
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .editorialInput{
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .isnbInput{
    grid-column: 2/4;
    grid-row: 5/6;
  }

  .container{
    width: 95%;
    margin: 12px auto;
  }

  .librosDetails, .autorDetails{
    grid-column: 1/4;
    margin: 0 2.5%;
  }

  .yearInput{
    grid-column: 3/4;
  }

  .botones{
    grid-column: 1/4;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 2.5%;
  }

}

@media (min-width: 1024px) {
  form.addBooks{
    display: grid;
    grid-template-columns: 25% 55% 20%;
    max-width: 1500px;
    margin:auto;
  }

  .tituloInput,.autorInput,.materiaInput,.editorialInput,.isnbInput,.autorDetails,.librosDetails{
    grid-column: auto;
    margin: auto;
  }

  .uploadFile{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #portadaImg{
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .isnbInput{
    grid-column: 2/3;
  }

  .librosDetails, .autorDetails{
    grid-column: 1/4;
    margin: 0 2.5%;
  }

}