@import "./fonts.css";
@import "./logoStyle.css";
@import "./navBar.css";
@import "./footer.css";

:root {
  --navBarHeight: 50px;
  --marginBottom:10px;
  --borderRadius:5px;

  --navBarHeight: 50px;
  --marginBottom:10px;
  --borderRadius:5px;

  --backgroundColor: #e2e1e0;
  --backgroundSections:white;

  --fontColors:#2e2e2e;
  --navBarBackground:rgb(255, 255, 255);

  /* Buttons */
  --buttonHeight:35px;
  --buttonBorderRadio: 2px;
  --buttonFontColor:#ecf0f1;
  --buttonColor:#EA4533;

   /* List */
  --fontListColor:#56575e;;
  --fontIndexTitleColor: #56575e;

  /* Price */
  --priceColor:#EA4533;

  /* Margin Between Containers */
  --separation:5px;
  
  --footerBackground: #2d2f8e;
  --footerFontColor: #eaebf1;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundColor);
  color: var(--fontColors);

}

main{
  width:100%;
  display: grid;
  justify-content: center; 
}

.carritoTitle{
    text-align: center;
    color:var(--fontColors);
    font-weight: bold;
    font-size:30px;
}

.carArticle{

  position: relative;
  margin: 0 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  padding: 20px;
  border-radius: 20px;
  

  background-color:var(--backgroundSections);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 10px;
 max-width:800px;
 

}
.carArticle img{
  grid-row: 1/4;
  width:100%;
 
  max-height: 350px;
}

.carProductAuthor{
  display: none;
}

.carProductFormat{
  display: none;
}

.carArticle .number-input{
  grid-row: 3/4;
  grid-column: 3/4;  
  display: flex;
  flex-direction: row;  
}

.carProductTitle{
  font-weight: bold;
}
.carArticleData{
  grid-row: 1/3;
  text-align:left;
  grid-column: 2/3;
  margin-left: 10px;
}

.carArticle .fa-trash-alt{
  grid-column: 3/4;
  grid-row: 1/3;
  font-size: 25px;
  display:flex;
  justify-content:center;
  align-content: center;
  align-items:space-between;
  margin-top:10px;
  color: var(--buttonColor);
  cursor: pointer;
}

.carArticleData p{
  margin: 5px;
}

.carArticle .precio{
  grid-row: 3/4;
  grid-column: 2/3;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  margin-left: 20px;

}




.btn.red {
    background-color: #e74c3c;
  }
  
  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }
  
  .btn {
    font-weight: bold;
    display: block;
    margin: 10px auto;
    padding: 0; 
    border-width: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: var(--buttonFontColor);
    transition: background-color .3s;
    width: 80%;
    cursor: pointer;
  }
  
  .btn.red {
    background-color: var(--buttonColor);
  }

  .btn.blue {
    background-color: #2D2F8E;
  }

  .btn.green {
    background-color: #44979c;
  }

  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }

.botones{
    margin-top:35px
}
.agregarAlCarrito, .comprarAhora{
    height: 40px;
    width: 80%;
    font-size: 18px;
    max-width: 600px;
}

.comprarAhora{
    background-color: #2D2F8E;
    transition-duration: 0.5s;

}

.comprarAhora:hover{
  background-color: #1a1b57;
}

.number-input{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
/* ========================================================= */
/*                  Promociones                       */
/* ========================================================= */ 
.promociones{
  margin: auto;
  display: none;
}
.promociones p{
  font-size:16px;
  text-align: left;
  width:80%;
  margin: auto;
  margin-bottom: 20px;
}

.dataRight ul li a{
  color: var(--fontColors);
}

/* ========================================================= */
/*                 Cantidad   y Precio                       */
/* ========================================================= */ 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

.number-input{
    display: inline;
}
.number-input input{
    border:0;
    text-align: center;
    width: 18px;
    font-size: 16px;
    background: transparent;
    color:var(--fontColors);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.number-input button{
    font-size: 24px;
    color:#2D2F8E;
    border:none;
    background: transparent;
    cursor: pointer;
}

.number-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio i{
  color:#e74c3c;
  font-size: 20px;
}

.totalAPagar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;

}

@media (max-width:340px) {
  .carArticle{
  grid-template-columns: 20% 45% 30%;}
}




@media (prefers-color-scheme: dark) {
  :root {
    --navBarHeight: 50px;
    --navBarBackground:rgb(41, 41, 41);
    --searchBarColor: rgb(59, 57, 57);
    --fontColors:#eaebf1;
    --sectionBackground: #121212;

    --backgroundColor: #121212;
  --backgroundSections:#222222;

    --whiteButtonsFontColor: #eaebf1;
    --whiteButtonsBackground:rgb(59, 57, 57);
    --footerBackground: rgb(41, 41, 41);
  } 

  body{
    background-color: #000000 74%;
  }

}


@media(min-width:468px) {

  .carProductAuthor{
    display: block;
  }
  
  .carProductFormat{
    display: block;
  }

  .number-input{
    flex-direction: row;
    justify-content: center;
  }  

  
}

@media(min-width:600px){
  .carritoTitle{
    margin-top: 80px;
}
}


@media(min-width:768px) {
  .carArticle{
    grid-template-columns: 2fr 6fr 2fr;
  }

}


@media(min-width:1100px) {

main{
 grid-template-columns: 60% minmax(350px,25%);
 max-width:1200px;
 justify-content: center;
 margin: auto;
 margin-bottom: 50px;
}

main section{
  grid-column: 1/2;
  grid-row: 2/4;
}

main .carritoTitle{
  grid-column:1/3;
  grid-row: 1/2;}

.totalAPagar{
  grid-column: 2/3;
  grid-row: 2/4;
  padding-bottom: 500px;
}

main .botones{
  grid-row: 2/4;
  grid-column: 2/3;
  z-index: 3;
  padding-top: 400px;
}

.promociones{
  grid-row: 2/3;
  grid-column: 2/3;
  padding-top: 80px;
  z-index: 4;
  display:block;
}

.promociones ul li{
  text-decoration: none;
  list-style: none;
  text-align:left;
  margin: 10px;
  padding: 0;
  margin-right: 10px;
  margin-left: 0;
  padding: 0;

}

.promociones ul a{
  text-decoration: none;
  padding: 10px;
  color:var(--fontColors);
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:stretch;
}
}