/* ========================================================= */

/*                       Reseñas                             */

/* ========================================================= */

.comentarios {
    text-align: left;
    margin: auto;
    width: 92%;
}

.comentario {
    margin-bottom: 40px;
}

.usuarioInfo, .calificacionComentario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.usuarioInfo p {
    margin-left: 10px;
    font-size: 18px;
}

.usuarioInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.calificacionComentario p {
    margin-bottom: 5px;
    margin-top: 8px;
}

.calificacionComentario .tituloComentario {
    margin-left: 6px;
    font-weight: bold;
    font-size: 16px;
}

.calificacion {
    color: gold;
    display: flex;
    flex-direction: row-reverse;
}

.revision, .verificacionDeCompra {
    margin: 0;
}

.verificacionDeCompra {
    color: var(--buttonColor);
    font-weight: bold;
}

.contenidoComentario {
    margin-top: 5px;
    margin-bottom: 0
}

.botonesDeComentarios{
    margin-top: 6px;
}
.botonesDeComentarios label {
    margin-right: 10px;
    cursor: pointer;   
}

.botonesDeComentarios label i:hover{
    font-weight: bold;
}


.calificacion i:hover~i, .calificacion i:hover {
    color: rgb(202, 172, 4);
    font-weight: bold;
    cursor: pointer;
}

.animatedStar{
    position: absolute;
    top: 0;
    left:0;
    transform: translate(-50%,-150%);
    animation-duration: 0.5s;
    animation-name: starMoving;
    animation-timing-function: cubic-bezier(0.97, 0.22, 0.54, 1);
    animation-fill-mode: forwards;
    color:gold;
}

.animatedStar1{
    --varTop : 80px;
    --varLeft: 40px;
}

.animatedStar2{
    --varTop : -80px;
    --varLeft: 40px;
}

.animatedStar3{
    --varTop : 80px;
    --varLeft: -40px;
}

.animatedStar4{
    --varTop : -80px;
    --varLeft: 40px;
}

.animatedStar5{
    --varTop : 80px;
    --varLeft: 40px;
}

.animatedStar6{
    --varTop : 40px;
    --varLeft: 80px;
}


.animatedStar7{
    --varTop : -40px;
    --varLeft: -80px;
}


.animatedStar8{
    --varTop : 40px;
    --varLeft: -80px;
}




@keyframes starMoving{
    0%{
        top: 0;
        left:0;
        transform: translate(-50%,-150%);
        opacity: 0;
    }

    60%{
        opacity: 1;
    }

    100%{
        top: var(--varTop);
        left: var(--varLeft);
        opacity: 0;
        display: none;
    }
}

