@import "./fonts.css";
@import "./logoStyle.css";
@import "./navBar.css";
@import "./footer.css";
@import "./comentarios.css";

:root {
    --azul-morado-oscuro: #2d2f8e;
    --azul-morado-claro: #585dba;
    --verde-pastel-oscuro: #44979c;
    --verde-pastel-claro: #89cab4;
    --azul-gris-oscuro: #202020;
    --oscuro: #56575e;
    --azul-oscuro: #14213D;
    --rojo: #ea4533;
    --rojo-oscuro: #c0392b;
    --naranja-pastel: #f4ae62;
    --rosado-pastel: #f6c7af;
    --crema:#f3f0d7;
    --blanco: #ffffff;
    --dorado: #81670f;

  --navBarHeight: 50px;
  --marginBottom:10px;
  --borderRadius:5px;

  --sectionBackground: white;
  --backgroundColor: #e2e1e0;
  --backgroundSections:white;

  --navBarBackground:rgb(255, 255, 255);
  --fontColors:#2e2e2e;

  /* Buttons */
  --buttonHeight:35px;
  --buttonBorderRadio: 2px;

  --buttonColor:#EA4533;
  --buttonColorHover:#c0392b;
   --fontColorButtons: #eaebf1;

   /* White Buttons */

   --whiteButtonsFontColor: #2e2e2e;
   --whiteButtonsBackground:white;

   --footerBackground: #2d2f8e;
   --footerFontColor: #eaebf1;

}


  

/* ========================================================= */
/*                     Button Style                          */
/* ========================================================= */
body {
    font-family: "Roboto", sans-serif;
    color:var(--fontColors);
    background-color: var(--sectionBackground);
}
.btn.red {
    background-color: #e74c3c;
  }
  
  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }
  
  .btn {
    font-weight: bold;
    display: block;
    margin: 10px auto;
    padding: 0; 
    border-width: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: var(--fontColorButtons);
    transition: background-color .3s;
    cursor: pointer;
  }
  
  .btn.red {
    background-color: var(--buttonColor);
  }
  
  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }

  #separadorTop{
    margin-bottom: 0;
  }

  #separadorBottom{
    margin-top: -4px;
    margin-bottom: -5px;
  }

main{
    margin-top: -3px;
}

/************************************
//        SEARCH BAR MOBILE        //
/***********************************/

section.searchBar-mobile{
    width: 100vw;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background: radial-gradient(var(--azul-morado-claro), var(--azul-morado-oscuro));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-sizing: border-box;
}

form.sbMobile{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

form.sbMobile input[type=text]{
   font-size: 17px;
   border: 1px solid  var(--backgroundSections);
   border-radius: 4px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;

   width: 80%;
   min-width: 190px;
   background-color: var(--backgroundSections);
   color: var(--fontColors);
   box-sizing: border-box;
   color: var(--fontColors);
}

form.sbMobile input[type=text]::placeholder{
    color: var(--fontColors);
    
}

form.sbMobile button{
   width: 10%;
   max-width: 40px;
   font-size: 20px;
   font-weight: 700;
   background-color: var(--rojo);
   border: 2px solid var(--rojo);
   border-radius: 4px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   color: white;
   cursor: pointer;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items:center;
}

form.sbMobile i{
  color: var(--blanco);
  box-sizing: border-box;
}

form.sbMobile button:hover {
   /*:hover selector cambia el estilo de boton cuando se pasa el mouse sobre él*/
   background: var(--rojo-oscuro);
   background-color: var(--rojo-oscuro);
   border: 2px solid var(--rojo-oscuro);
}
  
form.sbMobile::after {
   content: "";
   clear: both;
   display: table;
   box-sizing: border-box;
}

/* ========================================================= */
/*                   Barra de Direccion                      */
/* ========================================================= */
.datosPrincipales{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    
    padding-top: 1px;
    padding-bottom:30px;
}

.materiaTitulo{
    width:95%;
    margin: auto;
    position: relative;
    border-bottom: 1px solid grey;
    margin-bottom:15px; 
}

.materiaTitulo p{
    padding-right: 100px;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.heartIcon{
    position: absolute;
    right: 7px;
    top:-2px;
    font-size:20px;
    cursor: pointer;
}

.heartIcon input{
    display: none;
}

.heartIcon input:checked ~ i{
    font-weight: bold;
}

.heartIcon i {
    transition-duration: 0.2s;
}

.heartIcon i:active, .deleteIcon button:active, .editIcon i:active{
    transform: scale(1.3);
}

.editIcon{
    position: absolute;
    right: 40px;
    top: -3px;
    font-size:20px;
    cursor: pointer;
    
}

.editIcon i{
    transition-duration: 0.2s;
    color: var(--fontColors);
}

.editIcon i:hover{
    font-weight: bold;
}

.editIcon i:visited{
    color: red;
}


.deleteIcon button{
    position: absolute;
    right: 75px;
    top: -3px;
    font-size:20px;
    background-color:transparent;
    border: none;
    top: -3px;
    font-size:20px;
    color: #e74c3c;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 0;
    margin: 0;
}

.deleteIcon button i:hover{
    transition-duration: 0.2s;
}
.deleteIcon button i:hover{
    font-weight: bold;
}


.portada img{
    width: auto;
    height: auto;
    max-height: 80%;
    max-width: 80%;
}

.portada .bookTitle{
font-size: 24px;
margin-top: 10px;
}

/* ========================================================= */
/*                   Tabla de Idioma                       */
/* ========================================================= */

.tablaIdioma{
    width:80%;
    margin: auto;
    height:100%;
    display: flex;
    align-items:stretch;
    justify-content:stretch;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    margin-bottom: 20px;
    border: 1px solid rgb(124, 121, 121);
}

.tablaIdioma p{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    padding: 7px 5px;
}

.tablaIdioma .idioma{
    background-color:var(--buttonColor);
    text-transform: none;
    font-weight: bold;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: var(--fontColorButtons);
}

.tablaIdioma .autor{
    background-color:var(--buttonColor);
    text-transform: none;
    background-color:var(--whiteButtonsBackground);
    border-left: none;
    color: var(--whiteButtonsFontColor);
}

.tablaIdioma .autorName{
    font-weight: bold;
}

/* ========================================================= */
/*                   Seleccion de Formato                    */
/* ========================================================= */
.hidden {visibility: hidden; display: none;}

.formato{
    width:80%;
    margin: auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:auto;
    margin-bottom: 40px;
}

.formato label{
    display:block;
    text-align:center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: var(--whiteButtonsBackground);
    border: 1px solid rgb(124, 121, 121);
    width:40%;
    padding: 7px 5px;
    cursor: pointer;
}

.formato label span{
    color: red;
    font-weight: bold;
}
#ebookButton+ label, #pastaBlandaButton+label{
    user-select: none;
}

#ebookButton:checked + label,#pastaBlandaButton:checked + label {
    background-color:#585DBA;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: var(--fontColorButtons);
    user-select: none
    
  }

  #ebookButton:checked + label span,#pastaBlandaButton:checked + label span{
      color: white;
      user-select: none;
  }

/* ========================================================= */
/*                  Promociones                       */
/* ========================================================= */ 
.promociones{
    margin: auto;
}
.promociones p{
    font-size:16px;
    text-align: left;
    width:80%;
    margin: auto;
    margin-bottom: 20px;
}

.dataRight ul li a{
    color: var(--fontColors);
}

/* ========================================================= */
/*                 Cantidad                                  */
/* ========================================================= */ 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

.number-input{
    display: inline;
}
.number-input input{
    border:0;
    text-align: center;
    width: 30px;
    font-size: 24px;
    background: transparent;
    color:var(--fontColors);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.number-input button{
    font-size: 24px;
    color:#2D2F8E;
    border:none;
    background: transparent;
    cursor: pointer;
}

.cantidad{
    width: 80%;
    display:block;
    margin: auto;

}
.cantidad p{
    font-size: 20px;
    display: inline;
    padding-right: 25px;
}


/* ========================================================= */
/*                Botones                                  */
/* ========================================================= */ 
ul{
    list-style: none;
    text-align: left;
    
}

ul li{
    margin-top: 15px;
}

main ul i{
    font-size:25px;
    margin-right: 10px;
}

main ul a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color:black;
    font-size: 16px;
    margin-right: 10px;
}


.botones{
    margin-top:35px
}
.agregarAlCarrito, .comprarAhora{
    height: 40px;
    width: 80%;
    font-size: 18px;
}

.comprarAhora{
    background-color: #2D2F8E;
}

.comprarAhora:hover{
    background-color: #1a1b52;
}

/* ========================================================= */
/*                Información del Producto                   */
/* ========================================================= */ 

.productInfoTable table{
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}


  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  .sombrear{
      background-color: var(--whiteButtonsBackground);
      font-weight: bold;
  }

/* ========================================================= */
/*                Información del Producto                   */
/* ========================================================= */ 

  .acercaDelLibro,.acercaDelAutor {
      text-align: left;
      width: 90%;
      margin: auto;
      font-size: 18px;
  }

.PC{
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
      --navBarHeight: 50px;
      --navBarBackground:rgb(41, 41, 41);
      --searchBarColor: rgb(59, 57, 57);
      --fontColors:#eaebf1;
      --sectionBackground: #121212;

      --backgroundColor: #121212;
      --backgroundSections:#222222;

      --whiteButtonsFontColor: #eaebf1;
      --whiteButtonsBackground:rgb(59, 57, 57);
      --footerBackground: rgb(41, 41, 41);
    } 

    .datosPrincipales{
        background-color: #000000;
        background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    }
    
  }

@media(min-width:600px){
    
    section.searchBar-mobile{
        display: none;
    }
    #separadorTop{
        margin-top: var(--navBarHeight);
      }

      main{
        margin-top: var(--navBarHeight);
      }
}

@media(min-width:768px){

    .datosPrincipales{
        display: grid;
        place-content: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 150px;
    }
    .materiaTitulo{
        grid-column: 1/3;
    }
    .portada{
        grid-column: 1/2;
        grid-row: 2/5;
    }

    .portada img{
        grid-column: 1/2;
        grid-row: 2/5;
        width: 90%;
        max-height:530px;
    }

    .dataLeft{
        grid-column: 2/3;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
    }


    .dataRight{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
    }

    .tablaIdioma{
        height:fit-content;
    }

    .heartIcon{
        position: absolute;
        right: 7px;
        top:12px;
        font-size:20px;
    }

    .editIcon{
        position: absolute;
        right: 40px;
        top:12px;
        font-size:20px;
    }

    .deleteIcon button{
        right: 80px;
        top:12px;

    }

    .formato{
        margin-bottom: 15px;
    }

    main ul{
        margin-top: 0px;
    }

    .productInfoTable{
        width: 100%;
        float:none;
        grid-column: 1/3;
        grid-row: 5/6;
        margin:0;
        padding:0;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        
    }
}


@media(min-width:1200px){
    .datosPrincipales{
        display: grid;
        grid-template-columns: 35% 35% 30%;
        grid-template-rows: auto 150px 380px;
        
    }

    .materiaTitulo{
        grid-column: 1/4;
      
    }

    .botonColumn{
    grid-row: 3/4;
    grid-column: 3/4;
    place-self: end stretch;
    margin-bottom: 30px;

    }

    .dataRight{
        grid-row: 2/4;
    grid-column: 3/4;
    place-self: start stretch;
    margin-top: 30px;
    border-left: 1px solid var(--fontColors);
    }

    .dataLeft{
         border-right:1px solid var(--fontColors);
        margin-right: -1px;
    }

    .productInfoTable{
        width: 100%;
        float:none;
        grid-column: 2/3;
        grid-row: 3/4;
        place-self: end stretch;
        margin-bottom: 20px;
        border-right:1px solid var(--fontColors);
        
        
    }

    .portada{
        grid-column: 1/2;
        grid-row: 2/4;
        place-self: center center;
    }

    .portada img{
        grid-column: 1/2;
        grid-row: 2/5;
        width: 500px;
       
    }

    .PC{
        display:block;
    }

    .portada .bookTitle{
        display: none;
    }

}
