/************************************
//        SECTIONS ASIDE           //
/***********************************/

main div#sideBarVer .closebtn {
    text-align: left;
    margin-right: 5px;
    border: 1px solid var(--azul-morado-claro);
    box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.24);
    border-radius: 4px;
    max-width: 70px;
} 

main div#sideBarVer{
    display: none;
    position: absolute;
    top: 50vh;
    width: 100%;
    left: 0;
    transition-property: width;
    transition-duration: 0.3s;  
    z-index: 300;
}

main div#sideBarVer .closebtn{
    padding-left: 5px;
    color: var(--crema);
    font-weight: bold;
    line-height: 30px;
}

main div#indexFirst{
    margin-top: 10px;
    border-top: 1px solid #fff;
    width: 100%;
}

main div#sideBarVer a:hover, main div.show-filter a:hover{
    color:#EA4533;
    transform: none;
}
main aside{
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    width: 96%;
    height: 100%;
    padding: 15px 15px 30px 15px;
    margin-top: 15px;
    margin-left: 2%;
    border: 4px solid var(--sombra-boton);
    box-shadow: 3px 5px 15px 5px rgba(0,0,0,0.24);
    background-color: #ffffff;
    border-radius: 4px;
    z-index: 300;
    background: radial-gradient(var(--azul-morado-claro), var(--azul-morado-oscuro));
}

main aside div.index h3{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1.3em;
    font-family: "DIN", sans-serif;
    text-align: left;
    color: #ffffff;
}

main aside div.index{
    width: 100%;
}

main aside ul.subcategory-books{
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    justify-content: flex-start;
    list-style: none;
    text-align: left;
    margin-top: 15px;
    margin-left: 30px;
    padding: 0;
}

main aside ul.subcategory-books-pc{
    display: none;
}

main aside ul.subcategory-books li{
    margin-bottom:5px;
    margin-right: 5px;
    border-radius: 1px solid var(--azul-gris-oscuro);
    border-radius: 4px;
    background-color: var(--buttonFontColor);
    line-height: 1.5em;
    padding: 5px;
    font-size: 16px;
}

main aside ul.priceBooks a{
    color: #ffffff;
}
main aside ul.formatBooks label, ul.idiomBooks label{
    color: #ffffff;
}

main aside ul{
    width: 94%;
    list-style: none;
    text-align: left;
    margin-top: 15px;
    margin-left: 30px;
    padding: 0;
    color: white;
}

main aside li{
    margin-bottom:5px;
    margin-right: 5px;
    font-size: 16px;
}

main aside a#white{
    text-decoration: none;
    color:white;
}

main aside a{
    text-decoration: none;
    color:rgba(0, 0, 0);
}

/******* Sección de estrellas ******/
main aside div.calificacionComentario{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-left: 30px;
}

main aside div.calificacionComentario p{
    margin-top: 5px;
}

/***** Primer div de estrellas *****/
main aside div#first{
    margin-top: 15px;
}

main aside div.calificacionComentario p.tituloComentario{
    margin-left: 5px;
    font-weight: bold;
    font-size:17px;
    color: white;
}

main aside p.calificacion{
    color:gold;
    font-size: 15px;
}

/************************************
//    MEDIA QUERIES PC             //
/***********************************/
@media (min-width: 900px) {

    main div.show-filter{
        display: none;
    }

    main div#sideBarVer{
        grid-column:1/2;
        display: inline;
        position: inherit;
        width: 95%;
        margin-bottom: 10px;
        margin-left: 5%;
    }

    main aside{
        margin-top: 5px;
        padding-bottom: 5px;
    }

    main aside div#indexFirst{
        border-top: none;
        margin-top: 0px;
    }

    main aside div#indexFirst h3{
        margin-top: 0px;
    }

    main aside ul.subcategory-books{
        display: none;
    }

    main aside ul.subcategory-books-pc{
        display: block;
    }

    main aside ul.subcategory-books-pc a{
        font-size: 16px;
        color: #ffffff;
    }

    main aside .closebtn{
        display: none;
    }
}

/************************************
//    MEDIA QUERIES PC             //
/***********************************/
@media (min-width: 1280px) {
    
    main div#sideBarVer{
        margin-left: 8%;
    }
}