/* font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif; */
@import "./fonts.css";
@import "./logoStyle.css";
@import "./navBar.css";
@import "./navBarMobile.css";
@import "./footer.css";
@import "./footer.css";
:root {
  --navBarHeight: 50px;
  --buttonColor:#EA4533;
  --buttonColorHover:#c0392b;

  --navBarHeight: 50px;
  --buttonColor:#EA4533;
  --buttonColorHover:#c0392b;
  

  --fontColors:#2e2e2e;
  --fontColorButtons: #eaebf1; 

  --googleButtonHover:rgb(134, 126, 126);
  --googleFontColor: #1d1d1d;
  --googleButtonBackground:rgb(233, 231, 231);

  --sectionBackground: #121212;
  --backgroundColor: #121212;

  --backgroundColor: #e2e1e0;
  --backgroundSections:white;

  --sectionBackground: #ffffff;
  --navBarBackground:rgb(255, 255, 255);
  --searchBarColor: rgb(255, 255, 255);
  --inputBackground:rgb(255, 255, 255);

  --borderColor: #383737;
  --opacityBlue:90%;
  --opacityGreen:90%;
  --opacityOrange:80%;
  --footerBackground: #2d2f8e;
  --footerFontColor: #eaebf1;
}

/* DarkMode */

/* */

/* --------MOBILE VERSION STYLE----------- */

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color:var(--sectionBackground);
}

.main-container{
  background-color:var(--sectionBackground);
  margin-bottom:0;
}

label, button, h1, h2, h3, h4, h5, h6, p {
  color: var(--fontColors);
  font-weight: 400;
}

input::placeholder{
  color: var(--fontColors);
}

/* ========================================================= */
/*                     Button Style                          */
/* ========================================================= */
.btn.red {
  background-color: var(--buttonColor);
}

.btn.red:hover, .btn.red:focus {
  background-color: var(--buttonColorHover);
}

.btn {
  position: absolute;
  bottom:0;
  height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: var(--fontColorButtons);
  
  transition: background-color .3s;
}

.btn.red {
  background-color: var(--buttonColor);
}

.btn.red:hover, .btn.red:focus {
  background-color: var(--buttonColorHover);
}
.googleButton{
  color: var(--googleFontColor);
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: var(--googleButtonBackground);
}

.googleButton img {
  height: 24px;
}

.googleButton:hover {
  background-color: var(--googleButtonHover);
}

/* Button Container Div */
.button-div {
  text-align: center;
  margin: 15px 0;
}

/* ========================================================= */
/*                       LINKS                               */
/* ========================================================= */

a {
  color: var(--buttonColor);
}

/* ========================================================= */
/*              Logo Container With Prompt                   */
/* ========================================================= */

.content-left{
  z-index: 100;
}
.loginBannerContainer {
  padding-top: 60px;
  --animate-duration: 2s;
  position:relative;
  overflow: hidden;
  z-index:2;
}

.logoPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.logo {
  width: 200px;
  height: 230px;
}

.logoText {
  font-size: 60px;
  margin: 0;
  font-family: "DIN", sans-serif;
  line-height: 50px;
  padding-top: 2px;
  letter-spacing: 2px;
}

.prompt h1 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  padding-top: 20px;
}

.prompt h3 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
}

/* ========================================================= */
/*             FORM FOR LOGIN OR REGISTER                    */
/* ========================================================= */

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1.2em 0;
  font-weight: bold;
}

.question input {
  border: 1px solid var(--borderColor);
  border-style: solid;
  border-radius: 5px;
  width: 80vw;
  margin: 0.2rem 0;
  max-width: 450px;
  height: 35px;
  background-color: var(--inputBackground);
  color: var(--fontColors);
 
}

/* Checkboxes */
.conditions {
  background-color: var(--sectionBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
}

.condition {
  width: 80%;
  text-align: start;
  margin-bottom: 10px;
  max-width: 450px;
}

.condition input {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  width: 19px;
  height:19px;
  margin-right: 5px;
}

/* Separator for Account and Google Buttons */
.center-separator {
  display: flex;
  line-height: 1em;
  color: var(--fontColors);
  width: 80vw;
  max-width: 450px;
  margin: auto;
}

.center-separator::before, .center-separator::after {
  content: '';
  display: inline-block;
  flex-grow: 1;
  margin-top: 0.5em;
  background: var(--fontColors);
  height: 1px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Password EYE */
.showPassword {
  text-align: center;
  display: flex;
  justify-content: center;
}

.showPassword label {
  padding-top: 2px;
  padding-left: 4px;
  color: var(--fontColors);
}

#passwordEye,#confirmPasswordEye{
  color: var(--fontColors);
}

.showPassword label i{
  color: var(--fontColors);
}

.showPassword input {
  width: 20px;
}

.passwordDiv {
  position: relative;
}

.passwordDiv span {
  position: absolute;
  right: 2%;
  top: 25%;
  font-size: 21px;
}

.loginForm button,.registrationInput button{
  position:static;
  width: 80%;
  height: 50px;
  max-width: 450px;
  width: 80vw;
}


  .loginBannerContainer li{
    animation: subir infinite;
    animation-fill-mode: forwards;
    bottom: -120%;
    position:absolute;
  
  }
  
 
  .triangle{
    --color:#EA4533;
    --ancho:50px;
    --largo:50px;
    width: 0; 
    height: 0; 
    border-left: 0px solid transparent;
    border-right: var(--ancho) solid transparent;
    border-bottom: var(--largo) solid var(--color); 

  }
  
  .circle{
    --ancho:50px;
    --largo:50px; 
    --color:#F4AE62;
    width: var(--largo);
    height:var(--largo);
    border-radius:50%;
    background:var(--color);
  }


  .rectangle{
    --ancho:50px;
    --largo:50px; 
    --color:#F4AE62;
    width: var(--largo);
    height:var(--ancho);
    background:var(--color);
  }

  @keyframes subir{
      from{bottom: -20%;}
      to{bottom:120%;}
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --navBarHeight: 50px;
      --buttonColor:#EA4533;
      --buttonColorHover:#c0392b;
      
    
      --fontColors:#eaebf1;
      --fontColorButtons: #eaebf1; 
    
      --googleButtonHover:rgb(134, 126, 126);
      --googleFontColor: #eaebf1;
      --googleButtonBackground:rgb(59, 57, 57);

      --backgroundColor: #121212;
      --backgroundSections:#222222;
    
    
    
      --sectionBackground: #121212;
      --navBarBackground:rgb(41, 41, 41);
      --searchBarColor: rgb(59, 57, 57);
      --inputBackground:rgb(39, 37, 37);
    
      --borderColor: #383737;
  

    } 



  }


/* ========================================================= */
/*                       TABLET                              */
/* ========================================================= */

@media (min-width: 600px) {

  /* Left Banner Logo */
  .logo {
    width: 280px;
    height: 300px;
  }
  .logoText {
    font-size: 80px;
    margin: 0;
    font-family: "DIN", sans-serif;
    line-height: 68px;
    padding-top: 2px;
    letter-spacing: 5px;
  }
}

/* ========================================================= */
/*                           PC                              */
/* ========================================================= */
@media (min-width: 1024px) {
  .condition {
    width: 70%;
  }
  .main-container {
    display: flex;
    align-items: center;
    height: 100vh;
   
  }
  
  .main-container section {
    width: 50%;
    
  }

  .loginBannerContainer{
    margin:0;
    padding:0;
    width:50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 3;
  }


  .question {
    width: 100%;
    display: flex;
    margin: 0;
  }

  .registrationInput .question label{
    display:none;
  }

  .loginForm .question{
    margin-bottom: 10px;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50%;
    height: 100%;
    
    text-align: center;
  }


  .showPassword label {
    padding-top: 10px;
    padding-left: 6px;
  }
  .showPassword input {
    width: 20px;
    vertical-align: bottom;
  }
  .registrationInput {
    padding-top: 60px;
    margin-left: 50%;
  }

  .logo .bloqueAzul:hover{
    background: #9196ff;
    transform: scale(1.05);
  }
  
  .logo .bloqueVerde:hover{
    background: #5ed0d6;
    transform: scale(1.05);
  }
  
  .logo .bloqueNaranja:hover{
    background: #ffc485;
    transform: rotate(-15deg) scale(1.05);
  }
  
  .logo .bloqueRojo:hover{
    background: #ff7363;
    transform: scale(1.05) ;
  }

}

/* Samsung Dodge */
@media (max-width: 315px) {
  .prompt h1 {
    font-size: 1.2em;
    font-weight: normal;
  }
  .prompt h3 {
    font-size: 1em;
  }
  button {
    font-size: 14px;
  }
}