@import "./fonts.css";
@import "./logoStyle.css";
@import "./navBar.css";
@import "./footer.css";

:root {
  --blanco: white;
  --navBarHeight: 50px;
  --oscuro: #56575e; /*Text Color*/
  --marginBottom:10px;
  --borderRadius:5px;
  --backgroundColor: #e2e1e0;
  --backgroundSections:white;

  --fontColors:#2e2e2e;
  --navBarBackground:rgb(255, 255, 255);

  /* Buttons */
  --buttonHeight:35px;
  --buttonBorderRadio: 2px;
  --buttonFontColor:#ecf0f1;
  --buttonColor:#EA4533;

   /* List */
  --fontListColor:#56575e;;
  --fontIndexTitleColor: #56575e;

  /* Price */
  --priceColor:#EA4533;

  /* Margin Between Containers */
  --separation:5px;

  --footerBackground: #2d2f8e;
  --footerFontColor: #eaebf1;

  --azul-morado-oscuro: #2d2f8e;
  --azul-morado-claro: #585dba;
  --verde-pastel-oscuro: #44979c;
  --verde-pastel-claro: #89cab4;
  --azul-gris-oscuro: #202020;
  --oscuro: #56575e;
  --azul-oscuro: #14213D;
  --rojo: #ea4533;
  --rojo-oscuro: #c0392b;
  --naranja-pastel: #f4ae62;
  --rosado-pastel: #f6c7af;
  --crema:#f3f0d7;
  --blanco: #ffffff;
  --dorado: #81670f;
}


/* --------MOBILE VERSION STYLE----------- */
*{
  box-sizing:content-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--backgroundColor);
  overflow-x: hidden;
}

/************************************
//        SEARCH BAR MOBILE        //
/***********************************/

section.searchBar-mobile{
  width: 100vw;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background: radial-gradient(var(--azul-morado-claro), var(--azul-morado-oscuro));
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form.sbMobile{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}

form.sbMobile input[type=text]{
 font-size: 17px;
 border: 1px solid  var(--backgroundSections);
 border-radius: 4px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;

 width: 80%;
 min-width: 190px;
 background: var(--backgroundSections);
 color: --oscuro;
}

form.sbMobile input[type=text]::placeholder{
  color: var(--fontColors);
}

form.sbMobile button{
 width: 10%;
 max-width: 40px;
 font-size: 20px;
 font-weight: 700;
 background-color: var(--rojo);
 border: 2px solid var(--rojo);
 border-radius: 4px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 color: white;
 cursor: pointer;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form.sbMobile i{
color: var(--blanco);
}

form.sbMobile button:hover {
 /*:hover selector cambia el estilo de boton cuando se pasa el mouse sobre él*/
 background: var(--rojo-oscuro);
 background-color: var(--rojo-oscuro);
 border: 2px solid var(--rojo-oscuro);
}

form.sbMobile::after {
 content: "";
 clear: both;
 display: table;
}

main {
    width:auto;
    max-width: 1000px;
    margin: auto;
    text-align: left;
    background-color: var(--backgroundSections);
    padding:40px;
    margin-top: 60px;
    color:var(--fontColors);
}

main h2{
    text-align: center;
}

main p,main ul{
    line-height: 20px;
}

.btn {
    position: absolute;
    bottom:0;
    height: var(--buttonHeight);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 10px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: var(--buttonBorderRadio);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: var(--buttonFontColor);
    transition: background-color .3s;
  }
  
  .btn.red {
    background-color: var(--buttonColor);
  }
  
  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }

  .shine-me{
      width: 80px;
      height: 100px
  }

  .logoTerminos p{
  text-align: center;
  font-size:25px;
  line-height: 24px;
  letter-spacing:normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --navBarHeight: 50px;
    --navBarBackground:rgb(41, 41, 41);
    --searchBarColor: rgb(59, 57, 57);
    --fontColors:#eaebf1;
    --sectionBackground: #121212;

    --backgroundColor: #121212;
  --backgroundSections:#222222;

    --whiteButtonsFontColor: #eaebf1;
    --whiteButtonsBackground:rgb(59, 57, 57);
    --footerBackground: rgb(41, 41, 41);
  } 
}

@media (min-width: 600px) {

  section.searchBar-mobile{
      display: none;
  }
}
