
:root{
    --azul-morado-oscuro: #2d2f8e;
    --azul-morado-claro: #585dba;
    --verde-pastel-oscuro: #44979c;
    --verde-pastel-claro: #89cab4;
    --azul-gris-oscuro: #202020;
    --oscuro: #56575e;
    --azul-oscuro: #14213D;
    --rojo: #ea4533;
    --rojo-oscuro: #c0392b;
    --naranja-pastel: #f4ae62;
    --rosado-pastel: #f6c7af;
    --crema:#f3f0d7;
    --blanco: #ffffff;
}

nav{
    width: 100%;
    height: 50px;
    background-color: var(--blanco);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: fixed;
    top: 0;
    left: 0
 }
 
 /*Navegation Bar logo*/
 .logoContainer {
     width: 20%;
     display: flex;
     align-items: center;
  }
  
 .logoSize-img {
     height: 30px;
     margin: 2px;
     margin-left: 5px;
 }
 
 /************ Diseño de la barra de búsqueda +*****************/
 
 form.searchBar {
     /*Es una medida 1/100 tamaño región visible del navegador*/
    width: 45%;
    height: 30px;
    display: none;
    justify-content: center;
    margin: auto;
 }
 
 form.searchBar input[type=text]{
   font-size: 17px;
   border: 1px solid  var(--blanco);
   border-radius: 4px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   width: 80%;
   min-width: 190px;
   background: var(--blanco);
   color: --oscuro;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
 
 form.searchBar button{
    width: 10%;
    max-width: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--rojo);
    border: 2px solid var(--rojo);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
 
 form.searchBar button:hover {
    /*:hover selector cambia el estilo de boton cuando se pasa el mouse sobre él*/
    background: var(--rojo-oscuro);
    background-color: var(--rojo-oscuro);
    border: 2px solid var(--rojo-oscuro);
 }
 
 form.searchBar::after {
   content: "";
   clear: both;
   display: table;
 }
 
 /*Diseño del menú de opciones: Cuenta, Carrito, Mennú*/
 .menuButtons { 
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: flex-end;;
     margin-right: 22px;
     margin-top: 5px;
     cursor: pointer;
 }
 
 .menuButtons a {
     display: flex;
     align-items: center;
     text-decoration: none;
     justify-content: space-between;
     color: var(--oscuro);
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 18px;
     margin-left: 10px;
 }
 
 .menuButtons i{
     align-content: center;
     text-decoration: none;
     font-size: 1.8rem;
     font-size: 700;
     color: var(--oscuro);
     margin-right: 3px;
 }
 
 .menuButtons a span {
     text-align: center;
     display: none;
 }
 
 .menuButtons a:hover{
     color:var(--rojo) !important;
     transform: scale(1.2) !important;
  }
 
  .menuButtons a:hover i{
     color: var(--rojo) !important;
     transform: scale(1.2) !important;
  }
 
  /************************************
//    MEDIA QUERIES TABLET         //
/***********************************/
@media (min-width: 600px) {
    form.searchBar {
      display: flex;
    }
}

/************************************
//    MEDIA QUERIES PC             //
/***********************************/
@media (min-width: 1024px) {
    .menuButtons a span {
        display: inline;
        font-size: 0.8em;
    }
}