@import url(//db.onlinewebfonts.com/c/1bbe3460b053c4f1d67d1f1afecdaa76?family=DIN);
@import url(nav-barD2.css);
@import url(category-buttons.css);
@import url(stylesFooter.css);

:root{
    --azul-morado-oscuro: #2d2f8e;
    --azul-morado-claro: #585dba;
    --verde-pastel-oscuro: #44979c;
    --verde-pastel-claro: #89cab4;
    --azul-gris-oscuro: #202020;
    --oscuro: #56575e;
    --azul-oscuro: #14213D;
    --rojo: #ea4533;
    --rojo-oscuro: #c0392b;
    --naranja-pastel: #f4ae62;
    --rosado-pastel: #f6c7af;
    --crema:#f3f0d7;
    --blanco: #ffffff;
    --dorado: #81670f;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*Muestra solo el contenido que cabe en la caja*/
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
    
h3{
    font-size: 22px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

p{
    font-size: 12px;
}

.price{
    font-size: 18px;
    font-family: 'DIN', sans-serif;
    text-align: left;
    font-weight: 700;
    color: var(--azul-morado-oscuro);
}

.name{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: var(--azul-oscuro);
}

/************************************
//        SEARCH BAR MOBILE        //
/***********************************/

 section.searchBar-mobile{
    width: 100vw;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background: radial-gradient(var(--azul-morado-claro), var(--azul-morado-oscuro));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form.sbMobile{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

form.sbMobile input[type=text]{
   font-size: 17px;
   border: 1px solid  var(--blanco);
   border-radius: 4px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   width: 80%;
   min-width: 190px;
   background: var(--blanco);
   color: --oscuro;
}

form.sbMobile button{
   width: 10%;
   max-width: 40px;
   font-size: 20px;
   font-weight: 700;
   background-color: var(--rojo);
   border: 2px solid var(--rojo);
   border-radius: 4px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   color: white;
   cursor: pointer;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form.sbMobile i{
  color: var(--blanco);
}

form.sbMobile button:hover {
   /*:hover selector cambia el estilo de boton cuando se pasa el mouse sobre él*/
   background: var(--rojo-oscuro);
   background-color: var(--rojo-oscuro);
   border: 2px solid var(--rojo-oscuro);
}
  
form.sbMobile::after {
   content: "";
   clear: both;
   display: table;
}

/************************************
//        PROMOTIONAL BANNER       //
/***********************************/
section.banner img{
    margin-top: 5px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

section.banner-books img{
    background: none;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/************************************
//        MAIN SECTION             //
/***********************************/
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

main section.trend, section.suggest, section.moreNew, section.ebooks{
    background-color: #ffffff;
}

main section.separador{
    padding: 0px;
    box-shadow: none;
}

main section.separador img{
    width: 100%;
}

main section{
    width: 96%;
    margin-left: 2%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 4px solid var(--sombra-boton);
    box-shadow: 3px 5px 15px 5px rgba(0,0,0,0.24);
    border-radius: 4px;
}
/************************************
//        BOOKS SECTIONS           //
/***********************************/
main section h3{
    width: 97%;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1.3em;
    font-family: "DIN", sans-serif;
}

main div.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/************************************
//    BOOKS 1ST SECTIONS           //
/***********************************/
main article{
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    cursor: pointer;
}

/********** BOOKS HIDDEN************/
main article img{
    width: 90%;
}

main article div.main-article{
    width: 90%;
    margin: 18px 0px;
    padding: 15px;
    border-top: 4px solid var(--dorado);
}

main article p.name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} 

main article:hover div.main-article{
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

main Article#article-hidden, main Article#article-hidden2{
    display: none;
}
/********** LOGO IN BOOKS ************/
main article div.article-logo{
    position: relative;
    left: 90%;
    top: -40px;
}

main article div.article-logo i{
    display: block;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--dorado);
    color: var(--dorado);
    border-radius: 50%;
    position: absolute;
    background-color: white;
}

main article:hover i{
    transform: rotate(90deg);
}

main article i{
    transition: transform 1s;
}

main article form{
    margin-top: 10px;
}

/********** BUTTON BOOKS ************/
main form.product-button button{
    width: 90%;
    height: 33px;
    font-family: "DIN", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    box-sizing: border-box;
    border: 2px solid var(--rojo);
    border-radius: 2px;
    background-color: var(--rojo);
    color: var(--blanco);
    cursor: pointer;
    box-shadow: 3px 5px var(--sombra-boton);
}

main article div.main-article button:hover{
    background: var(--rojo-oscuro);
    border: 2px solid var(--rojo-oscuro);
}

/********** BUTTON INICIO * ************/
main section.button-beginning{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    margin-top: 10px;
} 

main section.button-beginning button{
    min-width: 150px;
    font-size: 0.8em;
    font-weight: 700;
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

/************************************
//    MEDIA QUERIES TABLET         //
/***********************************/
@media (min-width: 600px) {

    section.searchBar-mobile{
        display: none;
    }

    section.banner img{
        margin-top: 50px;
        margin-bottom: 5px;
    }

    section#banner-hidden{
        display: none;
    }

    main article#article-hidden, main article#article-hidden2{
        display: flex;
        flex-direction: column;
        width: 30%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    main article{
        width: 30%;
    }

    main article:hover{
        transition: transform 1s;
        transform: scale(1.1) !important;
    }

    main section.important-buttons div#category-book-hidden{
        display: none;
    }
}

/************************************
//    MEDIA QUERIES PC             //
/***********************************/
@media (min-width: 900px) {

    body{
        background-color: #ebebeb;;
    }

    main article,  main article#article-hidden,  main article#article-hidden2{
        width: 15%;
    }

    main article img, main article div.main-article, main form.product-button button{
        width: 80%;
    }

    main #separador-hidden{
        display: none;
    }

    main section.separador{
        display: none;
    }
}