:root {
    --amarillo-transp: #fbe18d59;
    --amarillo-claro: #ffd300;
    --amarillo-medio: #fcbf49;
    --amarillo-fuerte: hsl(43, 84%, 59%);
    --azul-gris: #4d5e68;
    --azul-gris-oscuro: #202020;
    --login-screen: #242423;
    --barra-navegacion: #f1f1f1;
    --boton-google: #dcdcdd;
    --sombra-boton: #999;
    --blanco: white;
    --crema:#fdf0d5;
    --navBarHeight: 50px;
}

*{
    box-sizing: border-box;
}

/************Mobile Design First*************/
body {
/*Muestra solo el contenido que cabe en la caja*/
   overflow-x: hidden;
   font-family: 'Roboto', sans-serif;
}

/*Navegation Bar*/
nav{
   width: 100%;
   height: var(--navBarHeight);
   background-color: var(--azul-gris-oscuro);
   display: flex;
   justify-content: space-between;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   position: fixed;
   top: 0;
   left: 0
}

/*Navegation Bar logo*/
.logoContainer {
   display: flex;
   align-items: center;
   /*Define el margen de los 4 lados*/
  margin-left: 20px;
}

.logoContainer h3 {
    font-size: 1.3em;
    color: var(--crema);
    font-family: 'Russo One', sans-serif;
}

.logoContainer h3 span {
    color: var(--amarillo-claro);
}

.logoSize-img {
    width: 40px;
    height: 40px;
    margin: 2px;
    margin-left: 3px;
}

/*Diseño de la barra de búsqueda*/

form.searchBar {
    /*Es una medida 1/100 tamaño región visible del navegador*/
    width: 30vw;
    height: 30px;
    display: none;
}

form.searchBar input{
  font-size: 17px;
  border: 2px solid #f1f1f1;
  width: 80%;
  min-width: 190px;
  background: #f1f1f1;
}

form.searchBar button{
  width: 10%;
  min-width: 40px;
  height: 100%;
  background-color: var(--amarillo-claro);
  border: 2px solid var(--amarillo-claro);
  border-top-left-radius: 0px;
  color: white;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form.searchBar button:hover {
 /*:hover selector cambia el estilo de boton cuando se pasa el mouse sobre él*/
 background: var(--amarillo-transp);
}

form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}

/*Diseño del menú de opciones: Cuenta, Carrito, Mennú*/
.menuButtons { 
    display: flex;
    align-items: center;
    margin-right: 22px;
    margin-top: 5px;
    cursor: pointer;
}

.menuButtons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    color: #fff;
    font-family: 'Russo One', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    margin-left: 10px;
}

.menuButtons i{
    align-content: center;
    text-decoration: none;
    color: var(--amarillo-transp);
    margin-right: 3px;
}

.menuButtons a span {
    text-align: center;
    display: none;
    margin-bottom: 2px;
}

.menuButtons a:hover{
    color: #fff !important;
    transform: scale(1.2) !important;
 }

 .menuButtons a:hover i{
    color: #fff !important;
    transform: scale(1.2) !important;
 }

/*************** First section ****************/
.mainScreen{
    width: 100vw;
}

.logoMainScreen {
    padding-bottom: 20px;
    background: var(--azul-gris-oscuro);
    box-shadow: 0 10px 13px rgba(0,0,0,0.12), 0 5px 2px rgba(0,0,0,0.24);
}

/*Div first section*/
.logoScreen{
    margin-top: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoScreen img{
    width: 150px;
}

.logoScreen h2{
    margin:0;
    font-size: 2.8em;
    /*Separación de letras*/
    line-height: 0.8em;
    font-family: 'Russo One', sans-serif;
    color: var(--crema);
    /*Distancias desde la parte superior*/
    padding-top: px;
}

.logoScreen span{
    color: var(--amarillo-claro);
}

 /*Second div Firts section*/

 .welcomeLogin{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

.welcomeLogin h1{
    margin:0;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    margin-top: 30px;
}

.welcomeLogin h3{
    margin:0;
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
    padding-bottom: 30px;
}

#welcome {
    color: var(--amarillo-claro);
    font-weight: 700;
}

/*************** Second section ****************/
.login{
    margin-top: 20px;
    padding-top: 10px;
    align-content: center;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
}

.question input{
    width:80%;
    max-width: 450px;
    margin-top: 0.5em;
    box-sizing: border-box;
    border: 2px solid var(--login-screen);
    border-radius: 4px;
    background-color: white;
    line-height: 1.7em;
    color: var(--azul-oscuro);
    cursor:pointer;
}

.question label{
    font-weight: 500;
    padding-bottom: 5px;
}

.question p{
    font-size: 0.8em;
    font-weight: 400;
}

/*Checkbox de términos y condiciones*/
.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    padding: 10px 1vw;
  }
  
.conditions label {
    width: 80vw;
    max-width: 450px;
}

.conditions a{
    color: var(--amarillo-fuerte);
    font-weight: 700;
}

.question label {
    text-align: left;
}

/*Botones de crear cuenta y registrar con google*/

.buttonConfirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 1.2em;
    padding-top: 15px;
}

.buttonConfirm button{
    width: 80%;
    max-width: 450px;
    font-weight: 600;
    line-height: 2.7em;
    cursor: pointer;
    outline: none;
    background-color: var(--amarillo-fuerte);
    color: --barra-navegacion;
    border: none;
    border-radius: 4px;
    box-shadow: 3px 5px var(--sombra-boton);
}

.buttonConfirm button:hover{
    background-color: var(--amarillo-claro);
}

/*Separador entre los botones*/

.center-separator {
  display: flex;
  line-height: 1em;
  color: gray;
  width: 80%;
  max-width: 450px;
  margin: auto;
}

.center-separator p{
    margin: auto;
}

.center-separator::before, .center-separator::after {
   content: '';
   display: inline-block;
   flex-grow: 1;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   background: gray;
   height: 1px;
   margin-right: 10px;
   margin-left: 10px;
}

.buttonConfirmGoogle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    padding-top: 1px;
    padding-bottom: 25px;
}

.buttonConfirmGoogle button{
    width: 80%;
    max-width: 450px;
    font-weight: 600;
    line-height: 2.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    background-color: var(--crema);
    border: none;
    border-radius: 4px;
    box-shadow: 3px 5px var(--sombra-boton);
}

.buttonConfirmGoogle img{
    width: 24px;
    padding-right: 5px;
}


.buttonConfirmGoogle button:hover{
    background-color: var(--boton-google);
}
  
/******************MEDIA QUERIES****************/

/****Tablet****/
@media (min-width: 600px){
    form.searchBar {
        display: flex;
    }  
}

@media (min-width: 980px) {

    form.searchBar {
        display: flex;
    }

    .menuButtons a span {
        text-align: center;
        display: inline;
    }

    div.mainScreen{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    section.logoMainScreen{
        width: 50%;
        height: 100%;
    }

    div.logoScreen{
        margin-top: 150px;
    }

    section.login{
        width: 50%;
        margin-top: 40px;
    }
    
    .question label{
        display: none;
    }

    .conditions {
        width: 80%;
        padding: 10px 1vw;
    }

    .conditions label {
        width: 100%;

    }

}
