/************************************
//     LINKS INTEREST SECTION      //
/***********************************/
section.links-interest{
    padding-top: 15px;
    height: 240px;
    background: var(--azul-morado-oscuro);
    align-items: center;
}

div.links-interest-links{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-top: 15px;
}

ul.left{
    grid-column: 1/2;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    font-family: "DIN", sans-serif;
}

ul.right{
    grid-column: 2/3;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    font-family: "DIN", sans-serif;
}

ul.left li, ul.right li{
    margin: 15px;
    font-family: "DIN", sans-serif;
}

ul.left a, ul.right a{
    color: var(--blanco);
    text-decoration: none;
}

/************************************
//         SUPPORT SECTION         //
/***********************************/
section.support{
    padding-top: 15px;
    height: 100%;
    border-top: 1px solid white;
    background: var(--azul-morado-oscuro);
}

div.support-links{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-top: 15px;
}

/************************************
//         CONTACT SECTION         //
/***********************************/
section.contact{
    padding-top: 15px;
    padding-bottom: 13px;
    border-top: 1px solid white;
    background: var(--azul-morado-oscuro);
}

div.inf-contact{
    display: flex;
    text-align: left;
    justify-content: center;  
}

div.inf-contact ul{
    list-style-type: none;
    font-size: 1em;
    color: var(--verde-pastel-oscuro);
}

p.contact{
    display: flex;
    justify-content: center;
    color: var(--blanco);
    margin-top: 30px;
    width: 100%;
    font-size: 1em;
    text-align: center;
}

div.inf-contact li{
    margin: 10px;
}

div.inf-contact i{
    position: relative;
    font-size: 1.3em;
}

div.inf-contact a{
    margin-left: 10px;
    font-size: 1em;
    text-decoration: none;
    color: var(--blanco);
}

/************************************
//      SOCIAL MEDIA SECTION       //
***********************************/
section.social-media{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid white;
    background: var(--azul-morado-oscuro);

}

div.elements-sm{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 15px;
    margin-left: 10%;
}

div.SM{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-start;
} 

div.SM a{
    text-decoration: none;
    color: var(--blanco);
}

div.SM h4{
    margin-left: 5px;
    font-family: "DIN", sans-serif;
}

div.logoSM{
    width: 20%;
}

div.logoSM i{
    position: relative;
    font-size: 1.3em;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 2px solid var(--blanco);
    border-radius: 50%;
    color: var(--verde-pastel-claro);
}

section.logo-footer img{
    height: 40px;
    padding: 5px;
    margin-top: 5px;
}
