@import "./logoStyle.css";
@import "./navBar.css";
@import "./footer.css";

:root {
  --navBarHeight: 50px;
  --marginBottom:10px;
  --borderRadius:5px;

  --sectionBackground: white;

  --navBarBackground:rgb(255, 255, 255);
  --fontColors:#2e2e2e;

  /* Buttons */
  --buttonHeight:35px;
  --buttonBorderRadio: 2px;
  --buttonFontColor:#ecf0f1;
  --buttonColor:#EA4533;

  /* Price */
  --priceColor:#EA4533;

  /* Margin Between Containers */
  --separation:5px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--sectionBackground);
  color: var(--fontColors);

}

.carritoTitle{
  margin-top:70px;
    text-align: center;
    color:var(--fontColors);
    font-weight: bold;
    font-size:30px;
}


.shoppingCarTable{
    width: 95%;
    max-width: 700px;
    margin: auto;
    table-layout:fixed;
    text-align: center;
    border-collapse: collapse;
    font-size: 12px;
}

.imagenColumna{
    width: 20%;
}

.detallesColumna{
    width: 40%;
}

.cantidadColumna, .priceColumna{
    width: 20%;
}

.shoppingCarTable td img{
width:95%;
max-width: 200px;
}

.shoppingCarTable td, .shoppingCarTable th{
      padding:10px 0;
      border-bottom: 1px solid #afafaf;
      text-align: center;
}

.shoppingCarTable th, .finalRow{
      border: 1px solid var(--sectionBackground);
      padding: 5px;
      background:#2d2f8ef5;
      color:white;
      box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.shoppingCarTable tr .finalRow{
  border-bottom: none;
  border-top:none;
}


.btn.red {
    background-color: #e74c3c;
  }
  
  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }
  
  .btn {
    font-weight: bold;
    display: block;
    margin: 10px auto;
    padding: 0; 
    border-width: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: var(--buttonFontColor);
    transition: background-color .3s;
    width: 80%;
  }
  
  .btn.red {
    background-color: var(--buttonColor);
  }

  .btn.blue {
    background-color: #2D2F8E;
  }

  .btn.green {
    background-color: #44979c;
  }

  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }

.botones{
    margin-top:35px
}
.agregarAlCarrito, .comprarAhora{
    height: 40px;
    width: 80%;
    font-size: 18px;
    max-width: 600px;
}

.comprarAhora{
    background-color: #2D2F8E;
}

/* ========================================================= */
/*                 Cantidad   y Precio                       */
/* ========================================================= */ 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

.number-input{
    display: inline;
}
.number-input input{
    border:0;
    text-align: center;
    width: 15px;
    font-size: 16px;
    background: transparent;
    color:var(--fontColors);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.number-input button{
    font-size: 24px;
    color:#2D2F8E;
    border:none;
    background: transparent;
}

.number-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio i{
  color:#e74c3c;
  font-size: 20px;
}

/* ========================================================= */
/*                Botones de las Sugerencias                 */
/* ========================================================= */ 

.hidden {visibility: hidden; display: none;} 
#fav1:checked + label i.fas,#fav2:checked + label i.fas,#fav3:checked + label i.fas,#fav4:checked + label i.fas,#fav5:checked + label i.fas,#fav6:checked + label i.fas{
  display:inline;
}

#fav1:checked + label i.far, #fav2:checked + label i.far, #fav3:checked + label i.far, #fav4:checked + label i.far, #fav5:checked + label i.far, #fav6:checked + label i.far{
  display:none;
}

label i.fas{
  display: none;
}


/* ========================================================= */
/*                Sugerencias Formato                    */
/* ========================================================= */ 
.booksSection .sectionTitle{
  text-align: left;
  margin: 0 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
}


.books{
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin:auto;
}

.book {
  text-align: center;
  background:var(--sectionBackground);
  display: inline-block;
  position: relative;
  width: 150px;
  margin: 10px; 
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  padding-bottom:65px; /*Required for button and price tag */

}

.book img{
  width: 150px;
  height: 180px;
}

.bookPrice, .bookAuthor, .bookTitle{
  margin:0;
}

.bookPrice{
  color:var(--priceColor);
  font-weight: bold;
  font-size:18px;
  margin-top: 5px;
  position: absolute;
  bottom:40px;
  left:50%;
  transform:translateX(-50%);
}

.bookTitle{
  font-weight:500;
  font-size:16px;
  margin: 2px 0;
  text-align: center;
  font-weight: 500;
}

.bookAuthor{
  font-size:14px;
  color:black;
  margin: 2px 0;
  text-align: center;
  font-weight: 300;
}






.botonesLibro .red{
  width: 60%;
  box-shadow: none;
  padding: 0;
  margin:0;
  height:35px;
}

.botonesLibro .blue,.botonesLibro .green{
  width: 20%;
  height:30px;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: none;
  padding: 0;
  margin:0;
  height:35px;
}

.botonesLibro .blue{
  border-left-color:#e74c3c ;
}

.botonesLibro{
  display:flex;
  justify-content: center;
  position: absolute;
  bottom:0;
  width: 100%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}




@media (prefers-color-scheme: dark) {
  :root {
    --navBarHeight: 50px;
    --navBarBackground:rgb(41, 41, 41);
    --searchBarColor: rgb(59, 57, 57);
    --fontColors:#eaebf1;
    --sectionBackground: #121212;

    --whiteButtonsFontColor: #eaebf1;
    --whiteButtonsBackground:rgb(59, 57, 57);
    --footerBackground: rgb(41, 41, 41);
  } 

  .datosPrincipales{
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  }
  
}


@media(min-width:468px) {
  .shoppingCarTable{
    font-size: 16px;
}


  .number-input{
    flex-direction: row;
    justify-content: center;
  }  

  .book img{
    width: 200px;
    height: 250px;
  }

  .book {
    width: 200px;
  }
}


@media(min-width:768px) {
  .books {
    max-width: 800px;
  }
}


@media(min-width:1100px) {
  .book img{
    width: 150px;
    height: 180px;
  }

  .book {
    width: 150px;
  }

  .books {
    max-width: 95%;
  }
}