footer{
    background-color: var(--footerBackground);
}

footer ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  
}

footer li{
    font-size:13px;
    margin-bottom:15px;
    margin-right: 2px;
}

footer section{
    display:grid;
    grid-template-columns: 50% 50%;
    border-radius: 0;
    border: 1px solid var(--backgroundColor);
    height:100%;
    width:100%;
}

footer section h4{
    grid-column:1/3;
    margin: 20px 0;
    color:var(--footerFontColor);
}

/* Footer Links */
footer a{
    text-decoration: none;
    color:var(--footerFontColor);
}

.contactList{
    /* Contact List only has one column */
    grid-column:1/3; 
}

/* Footer Logo */
footer .logoFooter {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--backgroundSections);
}

footer .logoFooter p {
    margin-left: 5px;
    font-size: 25px;
}

.logoContainer {
    width: 25px;
    height: 35px;
    position: relative;
    display: block;
}

/* Footer Icons */
footer i{
    font-size: 30px;
}

footer li a, footer li{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For tablet, show two sections in one line */
@media (min-width: 600px) {
    footer{
       display: grid;
       grid-template-columns: repeat(2,1fr);
    }

    footer section{
        height: 100%;
        border-left: 0; 
    }

   .logoFooter{
        grid-column:1/3;
       
    }
}


/* For PC, show the four sections in one line */
@media (min-width: 1024px) {
    footer{
       display: grid;
       grid-template-columns: repeat(4,1fr);
    }

    footer section{
        height: 100%;
    }

   .logoFooter{
        grid-column:1/5;
    }

    .socialMedia{
        border-right: 0;
    }
}



