/* Navegation Bar */

nav {
    width: 100%;
    background: var(--navBarBackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navBarHeight);
    z-index: 400;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav a{
    text-decoration: none;
}

/* Navegation bar Logo */
.logoContainer {
    width: 25px;
    height: 35px;
    position: relative;
    display: block;
}

.logoNavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.logoNavBar p {
    font-size: 23px;
    letter-spacing: 0px;
    margin-left: 2px;
}

/* Search Bar */
form.searchBar {
    width: 40%;
    position: relative;
    height: 60%;
    display:none;
}

form.searchBar input[type=text] {
    text-transform: none;
    color:black;
    font-weight: normal;
    font-size: 17px;
    background: var(--searchBarColor);
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

form.searchBar input[type=text]::placeholder{
    color: var(--fontColors);
}

form.searchBar button {
    margin:0;
    padding:0;
    width: 10%;
    font-size: 17px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
    position:absolute;
    top:0px;
    right:0px;
    min-width:30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
}

form.searchBar button i {
    color: white;
    font-size:19px;
}

form.searchBar button:hover {
    background: #ff1900;
}


/* MENU */
.menuButton {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: var(--fontColors);
}

.menu-label {
    display: none;
    font-weight: 400;
}

.menuButton a {
    text-decoration: none;
    padding-left: 5px;
    color: var(--fontColors);
    transition: 0.1s;
}

.menuButton a i {
    font-size: 25px;
    text-decoration: none;
    padding-top: 5px;
}

.menuButton a:hover {
    color: #EA4533 ;
    transform: scale(1.1);
}

#BotonBuscarParaMoviles{
    display: flex;
    padding-right:5px;
}

/* DropDown menu */
#sideNav{
    width: 0;
    position: fixed;
    top: 50px;
    right: 0;
    height: 100%;
    background:var(--navBarBackground);
    transition-property: width;
    transition-duration: 0.3s;
    z-index: -1;
  
}
.mySidenavlinks{
    position:relative;
}

#sideNav a,#sideNav label {
    padding:10px;
    text-decoration: none;
    font-size: 20px;
    color: var(--fontColors);
    display: block;
    opacity:1;
    z-index: -1;
  }

  #sideNav a:hover{
      color:#EA4533;
      transform: none;
  }

  #sideNav .closebtn {
      text-align: left;
  }
  
  #darkMode:checked + label #textoModoClaro,#darkMode:not(:checked) + label #textoModoOscuro{
    display: none;
  }
  #darkMode:checked + label #textoModoOscuro, #darkMode:not(:checked) + label #textoModoClaro{
    display: block;
  }


/* Tablet Style */
@media (min-width: 600px) {

    #BotonBuscarParaMoviles{
        display: none;
    }

    .logoContainer {
        margin-left: 20px;
    }

    .menuButton a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color:var(--fontColors);
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 18px;
        z-index: 1;
    }

    form.searchBar {
        display:block;
    }
}

/* PC STYLES */
@media (min-width: 1024px) {
    .menu-label {
        display: inline;
        font-size: 1em;
    }
    .menuButton {
        margin-right: 20px;
      }
      .menuButton a {
        padding-left: 20px;
      }

}

@media (max-width: 360px) {
    .menuButton {
      margin-right: 5px;
    }
    .logoNavBar p {
      font-size: 15px;
      margin-left: 5px;
    }
  }

@media (max-width: 300px) {
    .logoNavBar p{
        display: none;
    }
    .logoNavBar{
        margin-left:10px;
        margin-top: 0;
    }
}