:root{
    --ancho: 5vw;
}
body{
    margin-top:80px;
    text-align:center;
    background-color:#e5eaee;
}

.registerPacket{
    width:fit-content;
    margin:auto;
    padding:50px;
    border:1px solid #e5eaee; 
    background:white;

}

.columnaA{
    display:flex;
    flex-direction: column;
    width: var(--ancho);
    align-items: center;
    flex-basis:50%;

}

.columnaA input{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
    touch-action: manipulation;
    margin: 10px;
    font-family: inherit;
    overflow: visible;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-color: #e5eaee;
    border-radius: 0;
    color: #3c3c3b;
}
.columnaB{
    width: var(--ancho);
    margin-left: 50px;
    text-align: left;
    width: 40%;
}

.registerTable{
    display:flex;
}

.columnaC button{
    overflow: visible;
    text-transform: none;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    width: 100%;
    margin-bottom: 1rem!important;
    cursor: pointer;
    text-decoration: none;
    background-color: hsl(43, 84%, 59%);
    border-color: hsl(43, 84%, 59%);
    color: black;
}

a{
    color: hsl(43, 84%, 59%);
}


