/* font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif; */

:root {
  --amarillo-transp: #fbe18d59;
  --amarillo-claro: #fbe18d;
  --amarillo-medio: #eecf82;
  --amarillo-fuerte: hsl(43, 84%, 59%);
  --azul-gris: #4d5e68;
  --azul-oscuro: #2c3b44;
  --blanco: white;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  background: var(--azul-oscuro);
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2 {
  margin: 0;
  color: var(--blanco);
  font-family: "Russo One", sans-serif;
}

.logo h2 span {
  color: var(--amarillo-claro);
}

.logo-img {
  width: 40px;
  height: 40px;
  margin: 2px;
  margin-left: 3px;
}

.loginBannerContainer{
  padding-bottom: 20px;
  background: var(--azul-oscuro);
}

.showPassword{
  text-align: center;
}

.logoPanel{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.logoFont{
  color: var(--blanco);
  font-family: "Russo One", sans-serif;
}

.yellow{
  color: var(--amarillo-claro);
}


.logoPanel img{
   width: 150px;
   padding: 0 5px;
}

.logoPanel h2{
  margin: 0;
  color: var(--blanco);
  font-family: "Russo One", sans-serif;
  font-size: 2.5em;
  
}

.logoPanel h2 span{
  color: var(--amarillo-claro);
  margin-left: 20px;
}

a img {
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

.menuButton {
  display: flex;
  align-items: center;
}

.prompt {
  background: var(--azul-oscuro);
}

.prompt h1 {
  margin: 0;
  color: var(--blanco);

  text-align: center;
  padding: 20px 20px 0 20px;
}
.prompt h3 {
  margin: 0;
  color: var(--blanco);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prompt h3 a {
  color: var(--amarillo-claro);
}

.conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 80vw;
  margin: 0 9vw;
  padding: 10px 1vw;
  background-color: var(--amarillo-transp);
}

.conditions label {
  width: 80vw;
}

.conditions label a {
  color: var(--amarillo-fuerte);
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 1.5em 0;
  font-weight: bold;
}

.question input {
  border: 2px solid var(--azul-oscuro);
  border-style: solid;
  border-radius: 5px;
  width: 80vw;
  margin: 0.2em 0;
  height: 1.5em;
}

label {
  color: var(--azul-oscuro);
}

button {
  width: 80vw;
  height: 2.5em;
  font-size: 1.1em;
  border-radius: 5px;
  background: var(--amarillo-medio);
  box-shadow: 0 2px 3px;
}

.button-div {
  text-align: center;
  margin: 30px 0;
}

footer {
  width: 100vw;
  background: var(--azul-oscuro);
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 315px) {
  .logo h2 {
    font-size: 1em;
  }

  .logoPanel img{
    width: 100px;
    padding: 0 5px;
 }
 
 .logoPanel h2{
   margin: 0;
   color: var(--blanco);
   font-family: "Russo One", sans-serif;
   font-size: 2em;
   
 }

 .prompt h1 {
   font-size:1.2em;
 }
 .prompt h3 {
   font-size:1em;
 }
}
