/* font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif; */

@import "./logoStyle.css";

:root {
  --amarillo-transp: #fbe18d59;
  --amarillo-claro: #ffd300;
  --amarillo-medio: #fcbf49;
  --amarillo-fuerte: hsl(43, 84%, 59%);
  --azul-gris: #4d5e68;
  /*--azul-oscuro: #2c3b44;*/
  --azul-oscuro: black  ;
  --blanco: white;
  --navBarHeight: 50px;
  --crema:#fdf0d5;
  --sombra-boton: #999;
}

/* --------MOBILE VERSION STYLE----------- */

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* Navegation Bar */
nav {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left:0;
  height:var(--navBarHeight);
  z-index:200;
}

/* Navegation bar Logo */
.logoContainer {
  width: 25px;
  height:35px;
  position: relative;
  display:block;
}

.logo{
  width:200px;
  height:230px;
}

.logoNavBar{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-left: 5px;
}


.logoText{
  font-size:60px;
  margin:0;
  font-family: 'DINMedium', sans-serif;
  line-height:50px;
  padding-top:2px;
  letter-spacing: 2px;
}

.logoNavBar p {
  font-size:23px;
  letter-spacing: 0px;
  display: block;
  margin-left: 2px;
}


.logo-img {
  /* Icon Size Navegation Bar */
  width: 40px;
  height: 40px;
  margin: 2px;
  margin-left: 3px;
}

.menu-label {
  display: none;
}

/* Banner Container*/

.loginBannerContainer {
  padding-top:60px;
  background: white;
}

.logoPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.logoFont {
  color: var(--crema);
  font-family: "Russo One", sans-serif;
}

.yellow {
  color: var(--amarillo-claro);
}

.logoPanel img {
  width: 150px;
  padding: 0 5px;
  margin-top:var(--navBarHeight);
}

.logoPanel h2 {
  margin: 0;
  color: var(--crema);
  font-family: "Russo One", sans-serif;
  font-size: 2.8em;
  line-height: 0.9em;
  padding-top: 50px;
}

.logoPanel h2 span {
  color: var(--amarillo-claro);
  margin-left: 20px;
}

.prompt{
  color:black;
}


.prompt h1 {
  margin: 0;
  text-align: center;
  padding: 20px 20px 0 20px;
}
.prompt h3 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prompt h3 a {
  color: #EA4533;
}


form.searchBar {
  height:30px;
  display:none;
  margin-top:15px
  }

form.searchBar input[type=text] {
  font-size: 17px;
  border: 2px solid #f1f1f1;
  background: #f1f1f1;
  max-width: 100%;
  width: 32vw;
  
}

form.searchBar button {
  width: 10%;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
  border-radius: 0;
  box-shadow: none;
  height:100%;
  border: 1px solid black;
  min-width:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:0;
}

form.searchBar button i{
  padding-top: 5px;
}



form.searchBar button:hover {
  background: #ff1900;
}

form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}

.bannerContainer{
  margin-top: var(--navBarHeight);
}
.bannerContainer img{
  width: 100%;
}


/* LOGIN FORM */
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 1.2em 0;
  font-weight: bold;
}

input{
  height: 35px;
}

.question input {
  border: 2px solid var(--azul-oscuro);
  border-style: solid;
  border-radius: 5px;
  width: 80vw;
  margin: 0.2em 0;
  max-width: 450px;
}

.question p {
  font-size: 12px;
}


label {
  color: var(--azul-oscuro);
  text-align: left;
}

.conditions {
  margin:auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conditions label a{
  color: #EA4533;
  
}

.condition{
  width:80%;
  text-align:start;
}

.condition input{
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  width: 18px;
}


.showPassword {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.menuButton a{
  text-decoration: none;
  padding-left: 5px;
  color: black;
}

a img {
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

a i {
  font-size:25px;
  text-decoration: none;
  padding-top: 5px;
}

a{
  transition: 0.1s !important;
}

a:hover {
  color: #EA4533  !important;
  transform: scale(1.1) !important;
}

button:hover{
  background-color: #db200b;
}

.menuButton {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: black;

}

button {
  width: 80vw;
  min-height: 2.5em;
  font-size: 1.1em;
  border-radius: 5px;
  background: #EA4533;
  color:white;
  box-shadow: 0 2px 3px;
  max-width: 450px;
  transition: 0.1s;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 3px 3px black;
}
.center-separator {
  display: flex;
line-height: 1em;
color: gray;
width: 80vw;
max-width: 450px;
margin: auto;

}

.center-separator::before, .center-separator::after {
  content: '';
  display: inline-block;
  flex-grow: 1;
  margin-top: 0.5em;
  background: gray;
  height: 1px;
  margin-right: 10px;
  margin-left: 10px;
}

.googleButton{
  background-color:#f1f1f1;
  color:black;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleButton img{
  height: 24px;
}

.googleButton:hover{
  background-color:rgb(196, 181, 181);
}

.button-div {
  text-align: center;
  margin: 30px 0;
}

.showPassword label {
  padding-top: 2px;
  padding-left: 4px;
  color: var(--azul-oscuro);
}

.showPassword input {
  width: 20px;

}

footer {
  width: 100vw;
  background: var(--azul-oscuro);
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* HOME */
.homeContent{
  display: flex;
}
aside{
  width:25%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.materia{
  width: 50%;
  text-align: center;
}
.materia img{
  width: 50%;
}

.bookSectionContainer h2{
  padding-left: 20px;
}


.bookSection{
  display: flex;
  flex-wrap: wrap;  
}

.book{
  width: 200px;
  margin:20px;
}

.book button{
  width:100%;
}

.book img{
  width: 100%;
}

.passwordDiv{
  position: relative;
}
.passwordDiv span{
position: absolute;
right: 2%;
top:25%;
font-size: 21px;
}

/* TABLET */
@media (min-width: 600px) {
  .logoContainer{
    margin-left: 20px;
  }

  .logoText{
    font-size:80px;
    margin:0;
    font-family: 'DINMedium', sans-serif;
    line-height:68px;
    padding-top:2px;
    letter-spacing: 5px;
  }
  .logo{
    width:280px;
    height:300px;
  }

  .condition{
    width:55%;
  }

  .logoNavBar p {
    font-size:25px;}

  .menuButton a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight:bold;
    font-size:18px
   
  }

  form.searchBar {
    display:flex;
    margin-top: auto;
    margin-bottom:auto;
  }

  form.searchBar input {
    margin-left: 20px;
    height: auto;
  }



}

/* PC STYLES */
@media (min-width: 980px) {

.condition{
    width:70%;
  }


  .menu-label {
    display: inline;
    font-size: 1em;
  }
  .main-container {
    display: flex;
    height: 100%;
    min-height: 100vh;
  }

  .main-container section {
    width: 50%;
  }

  .loginBannerContainer {
    padding-top: 30px;
  }

  .question {
    width: 100%;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:50%;
    text-align: center;
  }



  .showPassword label {
    padding-top: 10px;
    padding-left: 6px;
    color: var(--azul-oscuro);
  }

  .showPassword input {
    width: 20px;
    vertical-align: bottom;
  }

  nav {
    height: var(--navBarHeight);
  }

  .registrationInput{
    padding-top: 60px;
    margin-left:50%;
  }

  .menuButton {
    margin-right: 20px;
  }

  .menuButton a{
    padding-left:20px;
  }

.loginBannerContainer{
  position:fixed;
  top:var(--navBarHeight);
  height:100%;
}

}

/* Samsung Dodge */
@media (max-width: 315px) {
  .logoContainer h2 {
    font-size: 1em;
  }

  .logoPanel img {
    width: 100px;
    padding: 0 5px;
  }

  .logoPanel h2 {
    margin: 0;
    color: var(--blanco);
    font-family: "Russo One", sans-serif;
    font-size: 2em;
  }

  .prompt h1 {
    font-size: 1.2em;
  }
  .prompt h3 {
    font-size: 1em;
  }
.menuButton{
  margin-right: 5 px;
}

button{
  font-size: 14px;
}

.logoNavBar p {
  font-size:15px;
  margin-left: 5px;
}

  
}
