/* font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif; */

@import "./logoStyle.css";
@import "./navBar.css";
:root {
  --blanco: white;
  --navBarHeight: 50px;
  --sombra-boton: #999;
  --oscuro: #56575e;
}

/* --------MOBILE VERSION STYLE----------- */

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  
}

label, button, h1, h2, h3, h4, h5, h6, p {
  color: var(--oscuro);
  font-weight: 400;
}

/* ========================================================= */
/*                     Button Style                          */
/* ========================================================= */

/* ========================================================= */
/*                     Button Style                          */
/* ========================================================= */
.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

.btn {
  position: absolute;
  bottom:0;
  height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.red {
  background-color: #EA4533;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}
.googleButton{
  color: var(--oscuro);
  display:flex;
  align-items:center;
  justify-content:center;
}

.googleButton img {
  height: 24px;
}

.googleButton:hover {
  background-color: rgb(196, 181, 181);
}

/* Button Container Div */
.button-div {
  text-align: center;
  margin: 15px 0;
}

/* ========================================================= */
/*                       LINKS                               */
/* ========================================================= */

a {
  color: #EA4533;
}

/* ========================================================= */
/*              Logo Container With Prompt                   */
/* ========================================================= */

.loginBannerContainer {
  padding-top: 60px;
  background: var(--blanco);
  --animate-duration: 2s;
}

.logoPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.logo {
  width: 200px;
  height: 230px;
}

.logo .bloqueAzul:hover{
  background: #9196ff;
  transform: scale(1.05);
}

.logo .bloqueVerde:hover{
  background: #5ed0d6;
  transform: scale(1.05);
}

.logo .bloqueNaranja:hover{
  background: #ffc485;
  transform: rotate(-15deg) scale(1.05);
}

.logo .bloqueRojo:hover{
  background: #ff7363;
  transform: scale(1.05) ;
}


.logoText {
  font-size: 60px;
  margin: 0;
  font-family: 'DINMedium', sans-serif;
  line-height: 50px;
  padding-top: 2px;
  letter-spacing: 2px;
}

.prompt h1 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  padding-top: 20px;
}

.prompt h3 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
}

/* ========================================================= */
/*             FORM FOR LOGIN OR REGISTER                    */
/* ========================================================= */

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1.2em 0;
  font-weight: bold;
}

.question input {
  border: 1px solid var(--oscuro);
  border-style: solid;
  border-radius: 5px;
  width: 80vw;
  margin: 0.2rem 0;
  max-width: 450px;
  height: 35px;
 
}

/* Checkboxes */
.conditions {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
}

.condition {
  width: 80%;
  text-align: start;
  margin-bottom: 10px;
  max-width: 450px;
}

.condition input {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  width: 19px;
  height:19px;
  margin-right: 5px;
}

/* Separator for Account and Google Buttons */
.center-separator {
  display: flex;
  line-height: 1em;
  color: var(--oscuro);
  width: 80vw;
  max-width: 450px;
  margin: auto;
}

.center-separator::before, .center-separator::after {
  content: '';
  display: inline-block;
  flex-grow: 1;
  margin-top: 0.5em;
  background: var(--oscuro);
  height: 1px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Password EYE */
.showPassword {
  text-align: center;
  display: flex;
  justify-content: center;
}

.showPassword label {
  padding-top: 2px;
  padding-left: 4px;
  color: var(--oscuro);
}

#passwordEye,#confirmPasswordEye{
  color: var(--oscuro);
}

.showPassword label i{
  color: var(--oscuro);
}

.showPassword input {
  width: 20px;
}

.passwordDiv {
  position: relative;
}

.passwordDiv span {
  position: absolute;
  right: 2%;
  top: 25%;
  font-size: 21px;
}

.loginForm button,.registrationInput button{
  position:static;
  width: 80%;
  height: 50px;
  max-width: 450px;
  width: 80vw;
}




/* ========================================================= */
/*                       TABLET                              */
/* ========================================================= */

@media (min-width: 600px) {

  /* Left Banner Logo */
  .logo {
    width: 280px;
    height: 300px;
  }
  .logoText {
    font-size: 80px;
    margin: 0;
    font-family: 'DINMedium', sans-serif;
    line-height: 68px;
    padding-top: 2px;
    letter-spacing: 5px;
  }
  .menuButton a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--oscuro);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px
  }
}

/* ========================================================= */
/*                           PC                              */
/* ========================================================= */
@media (min-width: 1024px) {
  .condition {
    width: 70%;
  }
  .main-container {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .main-container section {
    width: 50%;
  }

  .loginBannerContainer{
    margin:0;
    padding:0;
    width:50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .question {
    width: 100%;
    display: flex;
    margin: 0;
  }

  .registrationInput .question label{
    display:none;
  }

  .loginForm .question{
    margin-bottom: 10px;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50%;
    height: 100%;
    
    text-align: center;
  }


  .showPassword label {
    padding-top: 10px;
    padding-left: 6px;
    color: var(--azul-oscuro);
  }
  .showPassword input {
    width: 20px;
    vertical-align: bottom;
  }
  .registrationInput {
    padding-top: 60px;
    margin-left: 50%;
  }

}

/* Samsung Dodge */
@media (max-width: 315px) {
  .prompt h1 {
    font-size: 1.2em;
    font-weight: normal;
  }
  .prompt h3 {
    font-size: 1em;
  }
  button {
    font-size: 14px;
  }
}