/* font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif; */

:root {
  --amarillo-transp: #fbe18d59;
  --amarillo-claro: #fbe18d;
  --amarillo-medio: #eecf82;
  --amarillo-fuerte: hsl(43, 84%, 59%);
  --azul-gris: #4d5e68;
  --azul-oscuro: #2c3b44;
  --blanco: white;
  --navBarHeight: 50px;
}

/* --------MOBILE VERSION STYLE----------- */

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* Navegation Bar */
nav {
  width: 100%;
  background: var(--azul-oscuro);
  display: flex;
  justify-content: space-between;
  position: fixed;
}

/* Navegation bar Logo */
.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer h2 {
  margin: 0;
  color: var(--blanco);
  font-family: "Russo One", sans-serif;
}

.logoContainer h2 span {
  color: var(--amarillo-claro);
}

.logo-img {
  /* Icon Size Navegation Bar */
  width: 40px;
  height: 40px;
  margin: 2px;
  margin-left: 3px;
}

.menu-label {
  display: none;
}

/* Banner Container*/

.loginBannerContainer {
  padding-bottom: 20px;
  background: var(--azul-oscuro);
}

.logoPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.logoFont {
  color: var(--blanco);
  font-family: "Russo One", sans-serif;
}

.yellow {
  color: var(--amarillo-claro);
}

.logoPanel img {
  width: 150px;
  padding: 0 5px;
  margin-top:var(--navBarHeight);
}

.logoPanel h2 {
  margin: 0;
  color: var(--blanco);
  font-family: "Russo One", sans-serif;
  font-size: 2.8em;
  line-height: 0.9em;
  padding-top: 50px;
}

.logoPanel h2 span {
  color: var(--amarillo-claro);
  margin-left: 20px;
}

.prompt {
  background: var(--azul-oscuro);
}

.prompt h1 {
  margin: 0;
  color: var(--blanco);

  text-align: center;
  padding: 20px 20px 0 20px;
}
.prompt h3 {
  margin: 0;
  color: var(--blanco);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prompt h3 a {
  color: var(--amarillo-claro);
}


form.searchBar {
  height:30px;
  width:40vw;
  display:none;
  }

form.searchBar input[type=text] {
  font-size: 17px;
  border: 2px solid #f1f1f1;
  width: 80%;
  background: #f1f1f1;

}

form.searchBar button {
  width: 10%;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
  border-radius: 0;
  box-shadow: none;
  height:100%;
  border: 1px solid var(--amarillo-claro);
  min-width:40px;
}

form.searchBar button:hover {
  background: var(--azul-oscuro);
}

form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}
/* LOGIN FORM */

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 1.2em 0;
  font-weight: bold;
}

.question input {
  border: 2px solid var(--azul-oscuro);
  border-style: solid;
  border-radius: 5px;
  width: 80vw;
  margin: 0.2em 0;
  height: 30px;
  max-width: 450px;
}

label {
  color: var(--azul-oscuro);
}

.conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 80vw;
  margin: 0 9vw;
  padding: 10px 1vw;
  background-color: var(--amarillo-transp);
}

.conditions label {
  width: 80vw;
}

.conditions label a {
  color: var(--amarillo-fuerte);
}

.showPassword {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

a img {
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

.menuButton {
  display: flex;
  align-items: center;
}

button {
  width: 80vw;
  height: 2.5em;
  font-size: 1.1em;
  border-radius: 5px;
  background: var(--amarillo-medio);
  box-shadow: 0 2px 3px;
  max-width: 450px;
}

.button-div {
  text-align: center;
  margin: 30px 0;
}

.showPassword label {
  padding-top: 2px;
  padding-left: 4px;
  color: var(--azul-oscuro);
}

.showPassword input {
  width: 20px;
  height: 20px;
}

footer {
  width: 100vw;
  background: var(--azul-oscuro);
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* TABLET */
@media (min-width: 600px) {
  .menuButton a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Russo One", sans-serif;
    margin: 0 10px;
  }

  a:hover {
    color: var(--amarillo-claro);
  }

  form.searchBar {
    display:flex;
  }

  form.searchBar input {
    margin-left: 20px;
  }


}

/* PC STYLES */
@media (min-width: 970px) {
  .menu-label {
    display: inline;
    font-size: 1em;
  }
  .main-container {
    display: flex;
    height: 100%;
    min-height: 100vh;
  }

  .main-container section {
    width: 50%;
  }

  .loginBannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .question {
    width: 100%;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .loginForm input {
    height: 35px;
  }


  .showPassword label {
    padding-top: 10px;
    padding-left: 6px;
    color: var(--azul-oscuro);
  }

  .showPassword input {
    width: 20px;
    vertical-align: bottom;
  }

  nav {
    height: var(--navBarHeight);
  }

  .conditions{
    width: 80%;
    margin-left:10%;
  }

  .conditions label {
    width: 95%;
  }
  
  .conditions label a {
    color: var(--amarillo-fuerte);
  }

  .registrationInput{
    padding-top:var(--navBarHeight);
  }
}

@media (max-width: 315px) {
  .logoContainer h2 {
    font-size: 1em;
  }

  .logoPanel img {
    width: 100px;
    padding: 0 5px;
  }

  .logoPanel h2 {
    margin: 0;
    color: var(--blanco);
    font-family: "Russo One", sans-serif;
    font-size: 2em;
  }

  .prompt h1 {
    font-size: 1.2em;
  }
  .prompt h3 {
    font-size: 1em;
  }
}
